[2018-08-09 00:15] vtbassmatt opened #17 "Need to ensure phase and variable names are unique"
We can add [uniqueItems](http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.4.5) constraints on arrays such as variables. May need to get a bit more crafty on phases, since it's an object property that has to be unique.

[2018-08-10 17:53] vtbassmatt opened #21 "Pipelines files don't have a nice icon"
Pipeline on the left, plain YAML on the right.

![image](https://user-images.githubusercontent.com/714283/43973153-ae12d002-9ca4-11e8-8661-e966fbf14601.png)

[2018-08-14 11:18] vtbassmatt opened #24 "Phases don't have to be named"
Phase names are optional. This shouldn't flag an error:

![image](https://user-images.githubusercontent.com/714283/44088726-3856f816-9f92-11e8-8467-036705fd6bb4.png)

[2018-08-14 13:08] #24 closed, assigned to nobody

[2018-08-15 14:25] stephenmichaelf opened #31 "Update the logic to store JSON from the server(each sprint) in a folder with the extension so that we have a history and versioning there"
We won't package it with the extension.

[2018-08-15 14:55] stephenmichaelf opened #32 "Make sure anything in /buildtools doesn't get included in release build for extension?"

[2018-08-15 15:06] stephenmichaelf opened #33 "Task enum list of name + major version needs to be generated."

[2018-08-15 15:14] stephenmichaelf opened #34 "Update display details for inputs."
Show required inputs, misc other details in the description, and links to more docs (where applicable).

[2018-08-15 18:46] stephenmichaelf opened #35 "Add back templateConditionalStepInsertExpression"
Caused lost intellisense at least for task name when added. Previous schema:

"templateConditionalStepInsertExpression": {
      "type": "object",
      "patternProperties": {
        "^\\${{.*}}$": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/step"
          }
        }
      },
      "minProperties": 1,
      "maxProperties": 1
    }

[2018-08-16 12:24] stephenmichaelf opened #37 "Investigate node-keytar"
There is a README line that says "Currently this library uses libsecret so you may need to install it before running npm install."

Does this mean any machine that uses code that uses their lib on linux needs this installed? If so, seems problematic.

https://github.com/atom/node-keytar

[2018-08-22 18:20] stephenmichaelf opened #41 "Add command to clear schema cache."

[2018-09-04 17:36] stephenmichaelf opened #45 "Activate using commands instead of always activating"
Right now we activate on *, which is always.

What we want is to activate on language or onCommand:

https://code.visualstudio.com/docs/extensionAPI/activation-events#_activationeventsoncommand

[2018-09-04 19:21] vtbassmatt opened #47 "Schema too liberal: accepts both `jobs` and `steps` at the root"
To work around bugs in the language server, the schema currently allows both 'jobs' and 'steps' at the root. These should be mutually exclusive.

[2018-09-05 11:08] vtbassmatt opened #49 "Schema is baked into yaml-schema-service, should be a separate file"
The bulk of the schema is hand-generated, and we use yaml-schema-service / generate-yaml-from-json to insert tasks into it. Ideally the base schema would be a templatized file independent of the code, and we would use a simple token replacement to insert the task parts.

[2018-09-05 11:09] #32 closed, assigned to stephenmichaelf

[2018-09-05 12:25] #33 closed, assigned to stephenmichaelf

[2018-09-05 12:25] #35 closed, assigned to vtbassmatt

[2018-09-05 13:02] vtbassmatt opened #50 "Tasks which require no inputs give an error about matching multiple schemas"
Example:

[code]

![image](https://user-images.githubusercontent.com/714283/45094791-5766f080-b0ea-11e8-9ed1-48f0891ddc0b.png)

By adding one of the non-required inputs, the error goes away.

[2018-09-05 17:18] #37 closed, assigned to nobody

[2018-09-05 18:18] stephenmichaelf opened #52 "View installation statistics for extension"
Use App Insights or some other built in mechanism to see extension install counts.

https://medium.com/@almenon214/adding-telemetry-to-your-vscode-extension-f3d52d2e573c

[2018-09-05 18:21] stephenmichaelf opened #53 "Update extension YAML schema to match latest server schema"
Cancel and timeout fields go to job?
Add parallel under strategy

[2018-09-05 18:22] stephenmichaelf opened #54 "Template intellisense"

[2018-09-05 18:23] stephenmichaelf opened #55 "Run server side tests"
They have already been copied in, we need to run them.

[2018-09-05 18:23] stephenmichaelf opened #56 "Conditionals in notes for task inputs"

[2018-09-05 18:24] stephenmichaelf opened #57 "Show connection information if choosing a connection"
Connections are dynamically added per account. When selecting one in YAML, show the user autocomplete with their specific connections loaded from the server.

[2018-09-05 18:24] stephenmichaelf opened #58 "Support multiple schema versions, including from the server"
We need to support multiple schemas. For instance, when YAML ships in on-prem, that version will be locked, but the service will continue to iterate. We'll need to package a snapshot of each static schema into the extension. (There's only one right now, the service.)

When a workspace has no associated schema, prefer the latest. Give the user a gesture, such as a command in the command palette, to

[2018-09-05 18:25] stephenmichaelf opened #59 "Convert to using headless integration tests"

[2018-09-05 18:26] stephenmichaelf opened #60 "Update task schemas from m139"

[2018-09-05 18:26] stephenmichaelf opened #61 "Allow any casing of task names"

[2018-09-05 18:27] stephenmichaelf opened #62 "Run schema generation when we compile"

[2018-09-05 18:27] stephenmichaelf opened #63 "Run integration tests from command line and in CI"

[2018-09-05 18:27] stephenmichaelf opened #64 "Fix integration tests"

[2018-09-05 18:28] stephenmichaelf opened #65 "Unit test main method of schema generation server"

[2018-09-05 18:28] stephenmichaelf opened #66 "When matching an enum for validation, allow any casing"

[2018-09-05 18:29] stephenmichaelf opened #67 "Configure GitLens in extension"
Configuring GitLens was working and now it seems to require configuring in the workspace instead of the extension. We would prefer to configure it in the extension so we don't have to force the user to do it.

We were looking into this because GitLens has over 8.5 million installs so it's likely our users will be using it.

[2018-09-07 19:31] vtbassmatt opened #70 "When no schema in a oneOf array matches, it's hard to understand how to fix it"
When the language server checks each entry for anyOf and none match, then it chooses an arbitrary branch to use for reporting errors. This can mean that if you mess up one property name, suddenly all your previously-correct properties are reported as not matching.

[2018-09-07 19:55] vtbassmatt opened #71 "Language server fails to match when `jobs` and `resources` are both at root"
Using the attached schema, the attached .yml should validate. At the root of the schema, it should match "#/definitions/jobsAtRoot" because of the `jobs` keyword. It fails to match and VS Code complains that `jobs` is unexpected.

If I temporarily remove both "#/definitions/jobAtRoot" and "#/definitions/phaseAtRoot", it validates. Also if I remove the `resources` keyword, it validates.

[2018-09-11 19:25] #62 closed, assigned to stephenmichaelf

[2018-09-11 19:26] #50 closed, assigned to nobody

[2018-09-11 19:27] #47 closed, assigned to nobody

[2018-09-12 18:53] #52 closed, assigned to nobody

[2018-09-12 18:54] #53 closed, assigned to vtbassmatt

[2018-09-12 18:54] #55 closed, assigned to stephenmichaelf

[2018-09-12 18:55] #63 closed, assigned to stephenmichaelf

[2018-09-12 18:55] #64 closed, assigned to stephenmichaelf

[2018-09-12 18:58] #71 closed, assigned to stephenmichaelf

[2018-09-12 19:00] #56 closed, assigned to nobody

[2018-09-12 19:05] stephenmichaelf opened #80 "In CI, regen schema and fail if different than src. Don't use it!"

[2018-09-13 11:05] #80 closed, assigned to vtbassmatt

[2018-09-13 17:14] vtbassmatt opened #82 "Intellisense doesn't work until you save the file"

[2018-09-13 17:32] vtbassmatt opened #83 "Schema in this extension can drift from what the server supports"
Ideally we would generate the extension's schema from the server-side objects.

[2018-09-17 14:27] #65 closed, assigned to stephenmichaelf

[2018-09-17 14:43] #67 closed, assigned to stephenmichaelf

[2018-09-18 11:31] vtbassmatt opened #87 "For tasks, switch to anyOf(if/then) construct"
See https://github.com/json-schema-org/json-schema-spec/issues/180#issuecomment-269792043 -- this might match our semantics a little better.

[2018-09-18 12:02] #60 closed, assigned to stephenmichaelf

[2018-09-18 18:34] vtbassmatt opened #88 "Intellisense for build variables"
Would be nice to have the agent.\*, build.\*, and system.\* series as suggestions in appropriate places.

[2018-09-19 18:39] TingluoHuang opened #89 "steps not showing up after add container resources before jobs."
[code]

[2018-09-21 15:26] dalemyers opened #90 "Task identifiers don't have to come from a preset list"
There's a preset list of task identifiers. In reality, the task name can be practically anything since tasks can be created and installed by anyone, not just Microsoft.

[2018-09-26 10:22] vtbassmatt opened #93 "Intellisense for available vmImages"

[2018-09-27 11:02] vtbassmatt opened #94 "add `batch` (boolean) to `trigger`"

[2018-10-01 11:13] vtbassmatt opened #95 "Docker@1 task has bad enum for `command`"
The Docker@1 task has an incorrect enum. It's using the long name of each option, not the actual command. I suspect (without looking) that all enum generation is broken this way.

[2018-10-01 11:17] vtbassmatt opened #96 "Task pane / insert task"
For common tasks, offer a quick way to insert the task and its most common inputs.

[2018-10-01 11:18] #41 closed, assigned to nobody

[2018-10-01 11:19] #57 closed, assigned to nobody

[2018-10-01 11:20] #45 closed, assigned to nobody

[2018-10-01 11:21] #82 closed, assigned to nobody

[2018-10-01 11:56] tspascoal opened #97 "Intelissense not working with a new file (without save)"
The intelisense doesn't seem to be functioning when a file has not yet been saved

* Create a new file (Control N for example)
* Switch the language mode to Azure Pipelines

![image](https://user-images.githubusercontent.com/7847935/46286993-06c3a580-c579-11e8-8b7d-c80f5e1b65f0.png)

* Press control space
* No suggestions popup is shown

![image](https://user-images.githubusercontent.com/7847935/4

[2018-10-01 12:06] vtbassmatt opened #98 "Template support"
- Hyperlink to template parts elsewhere in the workspace
- Teach the extension about parameters for intellisense
- Help generating a template ("factor out as template"?)

[2018-10-01 12:09] vtbassmatt opened #99 "When inserting a task, go ahead and drop in common inputs"

[2018-10-01 12:11] vtbassmatt opened #100 "Intellisense for macro expressions and object expressions"
Macros are string replacements using `$( )`

Object expressions use the form `$[ ]`

[2018-10-01 12:13] vtbassmatt opened #101 "In scripts, intellisense for ##vso commands"

[2018-10-01 12:14] vtbassmatt opened #102 "Understand variable scopes"
When you add an `env:` expression, those variables become available for use in scripts. We need to recognize those and allow them for autocomplete.

Even more interesting: a ##vso command can write a new output variable. That variable is available in downstream steps.

[2018-10-01 12:15] vtbassmatt opened #103 "Bash, PowerShell, cmd syntax highlighting"
In a `bash` block, we should switch to syntax highlighting Bash. Similar for the other script languages.

[2018-10-01 12:18] #31 closed, assigned to stephenmichaelf

[2018-10-01 12:19] #49 closed, assigned to nobody

[2018-10-01 12:20] #54 closed, assigned to nobody

[2018-10-01 12:29] vtbassmatt opened #104 "Offer up YAML templates for getting started"
Much like the [gitignore extension](https://marketplace.visualstudio.com/items?itemName=codezombiech.gitignore), we'll offer up pipeline templates for various languages.

A user with our extension will be able to:
- Ctrl-Shift-P to pull up the command palette
- Choose "Add Azure Pipelines template" as a command
- Chose from a list of languages
- After choosing a language, we'll offer a default fil

[2018-10-01 12:32] vtbassmatt opened #105 "Consume new split language server/service package"
When https://github.com/Microsoft/azure-pipelines-language-server/issues/5 lands, consume it.

[2018-10-01 12:35] vtbassmatt opened #106 "Don't offer intellisense for deprecated YAML"
For example: `queue` has been replaced by `pool`. We still want `queue` to validate, and to offer a suggestion about migrating to `pool`, but it shouldn't come up as an intellisense suggestion.

Bonus points if we offer a warning instead of purely validating when old syntax is used. This will require changes in the [language server](https://github.com/Microsoft/azure-pipelines-yaml-schema).

[2018-10-01 14:21] ericsciple opened #107 "Invalid properties allowed at the root of the file"
The following properties show up in intellisense today but are not supported at the root of the file:
- cancelTimeoutInMinutes
- condition
- dependsOn
- displayName
- job
- matrix
- phase
- template
- timeoutInMinutes

Refer to YamlDeserializer.Pipelines.cs for what is valid

[2018-10-01 14:22] ericsciple opened #108 "Intellisense dropdown doesn't work when between comment and property"
[code]

[2018-10-01 14:22] ericsciple opened #109 "Deprecated properties should be marked deprecated"
At the root of the file, type one of the following:
- queue
- server

[2018-10-01 14:25] ericsciple opened #110 "Invalid properties allowed as keys under jobs"
[code]

all other values should be removed from the intellisense dropdown

[2018-10-01 14:27] ericsciple opened #111 "Invalid properties allowed under job"
[code]

The following invalid values show in the intellisense dropdown:
- parameters
- server
- template

[2018-10-01 14:28] ericsciple opened #112 "Invalid properties allowed under job template"
[code]

`parameters` is the only value that is supported here. All other values should be removed from the intellisense dropdown.

[2018-10-01 14:32] ericsciple opened #113 "condition does not allow boolean"
The following is valid but the extension produces a red squiggly

[code]

We don't distinguish between different types of scalars. We treat everything as a string. False is a valid condition and is a quick way to disable a job/step.

[2018-10-01 14:36] ericsciple opened #114 "First keys under steps are invalid"
[code]

The first key is used to drive the rest of what is available. The only allowed first keys here should be:
- script
- bash
- powershell
- pwsh
- task
- template
- checkout

[2018-10-01 15:13] ericsciple opened #115 "Missing Intellisense for workspace clean settings"

[2018-10-01 15:19] ericsciple opened #116 "Template expressions are not allowed where they should be"
Here are two examples:

[code]

[2018-10-01 15:24] ericsciple opened #117 "Template expressions are allowed where they should not be"
Here are two examples:

[code]

Expressions are not allowed:
- at the root of the file
- under `parameters` defined by a template. Note, expressions are allowed when passing parameters to a template.
- under `trigger`
- under `resources`

[2018-10-01 18:54] vtbassmatt opened #118 "Service connection helper"
For instance, whenever I need to auth to Azure, need a rich experience.

[2018-10-01 19:19] natemcmaster opened #119 "Validation flags the PublishTestResults task"
Possible related to https://github.com/Microsoft/azure-pipelines-vscode/issues/58.  The validation flags task names that do not match this regex:

![image](https://user-images.githubusercontent.com/2696087/46310393-0e348000-c574-11e8-9a8c-7f6903a76044.png)

Example:
![image](https://user-images.githubusercontent.com/2696087/46310204-90707480-c573-11e8-8100-d144d95dfd79.png)

Repro:
Open this file

[2018-10-02 13:07] vtbassmatt opened #120 "Task schema generation should understand and use aliases"
task.json offers an ability for inputs to be aliased. Typically the aliases are newer / corrected forms, and we should use those instead of the raw variable names where available.

[2018-10-04 17:20] #93 closed, assigned to vtbassmatt

[2018-10-04 17:20] #94 closed, assigned to vtbassmatt

[2018-10-04 17:20] #107 closed, assigned to vtbassmatt

[2018-10-04 17:36] #113 closed, assigned to joscol

[2018-10-04 18:31] vtbassmatt opened #123 "Server allows duplicate "keys" if they are expressions"
This isn't allowed by YAML, but is supported by the server.

[2018-10-15 14:25] hross opened #125 "Remove schema generation and move to a separate area"
Once we have an endpoint we will no longer need a way to generate the schema here. We need to have a way to regenerate a static schema file in case you are authenticated.

[2018-10-15 14:42] hross opened #126 "Make sure the language server ignores unknown keywords"
If there are things we don't understand we should not fail.

How much do we want to do this? Will that break our syntax checks? Maybe we have a warning?

[2018-10-18 12:57] #89 closed, assigned to stephenmichaelf

[2018-10-18 13:44] #97 closed, assigned to stephenmichaelf

[2018-10-18 18:25] #95 closed, assigned to stephenmichaelf

[2018-10-24 13:42] #116 closed, assigned to joscol

[2018-10-24 17:30] #117 closed, assigned to joscol

[2018-11-01 15:10] #112 closed

[2018-11-01 15:12] #111 closed

[2018-11-01 17:18] joscol commented on #126
Unknown keywords are silently ignored

[2018-11-01 18:15] vtbassmatt commented on #126
Unknown keywords in the schema JSON, I assume. (If I'm wrong, please reactivate.)

[2018-11-01 18:15] #126 closed

[2018-11-01 18:15] vtbassmatt commented on #126
Unknown keywords in the schema JSON, I assume. (If I'm wrong, please reactivate.)

[2018-11-01 19:12] vtbassmatt opened #132 "Need to support aliases from the task.json"
They generally look better than the "native" names.

[2018-11-02 11:33] vtbassmatt commented on #105
@joscol did this one already.

[2018-11-02 11:33] #105 closed

[2018-11-05 15:10] vtbassmatt opened #134 "Task condition doesn't accept an expression"
This is valid Pipelines YAML:
[code]

But 143.0 gives red squigglies on the `eq()` part. One of the confusing features of Pipelines YAML is that `condition` fields can accept expressions that aren't wrapped in `$[]` or `${{}}`.

Since we don't have syntax highlighting for expressions yet, the best we can do is accept a string for now.

[2018-11-05 15:11] vtbassmatt commented on #134
Assigning to @stephenmichaelf because it's a schema-side fix.

[2018-11-05 15:53] vtbassmatt commented on #115
At the job level, we support this construct:

[code]

This tells the agent what portions of the build directory to clean up at the end of the pipeline.

[2018-11-05 15:53] vtbassmatt commented on #115
See https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts&tabs=schema#job

[2018-11-06 14:44] #115 closed

[2018-11-06 20:26] joscol opened #137 "Better way to show deprecated properties during validation"
Validation warnings about deprecations look like errors in VS Code.  We should find a way to change how they are presented.

[2018-11-07 18:53] joscol opened #138 "Improve process of propogating service changes out to the extension"
The current process is to update the service, get the changes approved, publish to NPM, update the server, get the changes approved, publish to NPM, update the extension and then get approval.

We could eliminate some of those steps if we have the server tests run with a built version of the service instead of pulling it from NPM.

[2018-11-08 13:16] stephenmichaelf commented on #138
This is also be a byproduct of having tests at the wrong level, right? Hopefully we can get this fixed after refactoring the lower level code. We are cheating a little by having tests at higher levels that should be at lower levels which makes the problem more painful.

[2018-11-08 21:11] joscol commented on #114
Is pwsh an alias for powershell?

[2018-11-08 22:02] ericsciple commented on #114
Yes it's similar to the `powershell` alias.

The `powershell` alias compile into:

[code]

The `pwsh` alias compiles into:

[code]

I realize now it's not documented. I'll fix that.

[2018-11-15 15:16] #114 closed

[2018-11-15 15:16] #110 closed

[2018-11-15 15:16] #106 closed

[2018-11-15 19:18] joscol commented on #108
I have not been able to reproduce this issue

[2018-11-15 19:20] joscol commented on #66
Do we want to make this an across-the-board, all enums are case-insensitive or do we want to require every enum property definition to include "ignoreCase: value" or "ignoreCase: all" ?

[2018-11-15 19:46] vtbassmatt commented on #66
In general I wanted to keep core JSON Schema semantics pure, and make all of our changes be additive. That means requiring "ignoreCase" everywhere, so that it's really obvious where we're breaking with normal `enum` semantics.

[2018-11-16 16:38] vtbassmatt opened #147 "Missing 'pr' triggers"
The `pr` keyword is now available. Its syntax is very close to `trigger`, but does have slight differences. [Documented schema](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts&tabs=schema#pr-trigger), plus I just realized that the new `autoCancel` feature isn't doc'd.

[code]

[2018-11-16 18:38] rsemenov opened #149 "No intellisense for root level "pool" and "strategy" objects"
Both Monaco and VSCode extension do not show intellisense for root level "pool" and "strategy".
![image](https://user-images.githubusercontent.com/1785438/48640297-423cf680-e9a4-11e8-872d-8a25c0a3e883.png)
![image](https://user-images.githubusercontent.com/1785438/48640452-c55e4c80-e9a4-11e8-96ea-f1b50637f6e5.png)

[2018-11-16 19:13] rsemenov opened #150 "Validation fails for integerTemplateMacroRuntimeExpression in latest master"
[code]
![image](https://user-images.githubusercontent.com/1785438/48641991-95fe0e80-e9a9-11e8-95ad-66a92b5c30eb.png)

[code]

![image](https://user-images.githubusercontent.com/1785438/48642032-ab733880-e9a9-11e8-88b5-6c9a98d8c407.png)

[2018-11-16 19:41] #109 closed

[2018-11-16 20:11] #147 closed

[2018-11-16 21:31] joscol commented on #150
This has been fixed in the language service.  It hasn't been published yet.

[2018-11-19 18:13] rsemenov opened #152 "Intellisense for objects what allow any parameters like "parameters", "variables", or "matrix""
Just something to think about. How can we improve the experience in case when any property is allowed and there are no optional/required properties? Currently it just suggests every word.
![image](https://user-images.githubusercontent.com/1785438/48726287-e5884880-ebfc-11e8-8a0b-35c1b4744fc5.png)

[2018-11-19 18:19] rsemenov opened #153 "Intellisense fails when there is a trailing space after the cursor"
With trailing space:
![image](https://user-images.githubusercontent.com/1785438/48726511-98f13d00-ebfd-11e8-9ea6-82714f374d8e.png)

Without trailing space:
![image](https://user-images.githubusercontent.com/1785438/48726529-aa3a4980-ebfd-11e8-83e0-42a2d9b069b8.png)

[2018-11-19 18:19] vtbassmatt commented on #152
I wonder if we can simply suppress recommendations there?

[2018-11-19 18:50] rsemenov opened #154 "Values highlighting is spilled to the next line when typing"
![image](https://user-images.githubusercontent.com/1785438/48728114-1159fd00-ec02-11e8-87c1-843852c08990.png)

[2018-11-19 19:07] rsemenov opened #155 "Validation error on file that only contains comments"
To repro just make error in the file so it is highlighted, then delete everything. Error is still highlighted:

![image](https://user-images.githubusercontent.com/1785438/48728869-2fc0f800-ec04-11e8-9660-f38f9b72d4fe.png)

[2018-11-19 19:15] rsemenov opened #156 "Validation of task name depends on inputs not vice-versa"
If you type the following error that inputs are empty is showing up:
![image](https://user-images.githubusercontent.com/1785438/48729379-74995e80-ec05-11e8-9954-9868df0d4e82.png)

When you start filling up inputs task name becomes invalid until all inputs are filled in:
![image](https://user-images.githubusercontent.com/1785438/48729234-271cf180-ec05-11e8-9bb4-048fd042017d.png)

[2018-11-19 19:17] rsemenov opened #157 "Preceding Space is required for array item intellisense"
You will get no suggestions if there is no space after the '-':
![image](https://user-images.githubusercontent.com/1785438/48729521-ca6e0680-ec05-11e8-851b-049e23de20f3.png)

[2018-11-19 19:22] rsemenov opened #158 "Completion of integer properties sets their value to 0"
Select integer property in completion and it will set value to 0. Should we change this?

![image](https://user-images.githubusercontent.com/1785438/48729770-6992fe00-ec06-11e8-8124-7fecf5b351c1.png)

[2018-11-19 19:29] joscol commented on #156
Duplicate of #70

[2018-11-19 19:29] #156 closed

[2018-11-19 19:44] rsemenov commented on #149
Also noticed that "pool" shows validation error if "steps" property is present:
![image](https://user-images.githubusercontent.com/1785438/48730852-8b41b480-ec09-11e8-80e2-be1662b76b16.png)

[2018-11-20 22:21] rsemenov opened #160 "Completion suggestions are case sensitive"
When property is in the same case as in the schema it is filtered out from the completion suggestions.
![image](https://user-images.githubusercontent.com/1785438/48806541-b222e800-ece8-11e8-9c88-00b8abfabcb0.png)

But when in different case it is still suggested.
![image](https://user-images.githubusercontent.com/1785438/48806513-9ae3fa80-ece8-11e8-96c8-92232d8994b2.png)

[2018-11-20 22:38] rsemenov opened #161 "Cannot read property 'start' of undefined in jsonParser.ts"
Language service throws on objects with duplicated properties. I was able to trace it jsonParser.ts line 816.

azure-pipelines-language-service.js:3314 Uncaught (in promise) TypeError: Cannot read property 'start' of undefined
    at azure-pipelines-language-service.js:3314
    at Array.forEach (<anonymous>)
    at azure-pipelines-language-service.js:3309
    at Array.forEach (<anonymous>)
    at

[2018-11-21 16:32] joscol opened #162 "Numbers do not validate as enum values"
<img width="559" alt="jdk_version" src="https://user-images.githubusercontent.com/43352055/48854947-1b563a00-ed81-11e8-9383-bae4b415bc92.png">

[2018-11-21 22:38] chadsowald opened #163 "Feature Request: Start DevOps pipelines from VS Code"
It would be great if I could get a list of my DevOps pipelines and could start 1 directly from VS code instead of having to go to the DevOps site.  Presumably it would also show me progress/status as they run.

[2018-11-23 23:29] matcha440 commented on #134
I just ran into this myself, glad to know it's on someone's radar.

![image](https://user-images.githubusercontent.com/13713268/48962416-adab3900-ef4d-11e8-9e43-8def7c29aa13.png)

[2018-11-26 12:16] vtbassmatt commented on #162
Good find! CC @stephenmichaelf for thinking about this in task schema generation.

[2018-11-26 18:04] joscol commented on #162
fixed in language-service, will close the bug after the fix makes it way up to the extension

[2018-11-26 18:10] joscol commented on #161
I have not been able to reproduce this.  Ruslan, can you add an example?

[2018-11-26 18:21] joscol commented on #150
Fixed in version 0.4.0 of the language service - allowing validation of strings that look like numbers

[2018-11-26 18:21] #150 closed

[2018-11-26 18:28] #70 closed, assigned to nobody

[2018-11-26 18:29] #66 closed, assigned to nobody

[2018-11-26 18:30] joscol commented on #61
In addition to consuming version 0.4.0 of the language-service, the schema generation was also updated to use the new feature

[2018-11-26 18:30] #61 closed

[2018-11-26 22:05] joscol opened #166 "Auto-complete for Steps is listing invalid options"
The schema defines "task" as an enum and as several specific strings.  The "firstProperty" tag was removed from the enum to fix one issue, but it caused invalid selections to appear in the completion menu:

<img width="205" alt="invalid_steps" src="https://user-images.githubusercontent.com/43352055/49045000-85197e00-f19d-11e8-8fad-66b7ae14078b.png">

[2018-11-26 22:07] joscol opened #167 "Confusing error for empty bash task"
<img width="308" alt="empty_bash" src="https://user-images.githubusercontent.com/43352055/49045060-c3af3880-f19d-11e8-8eca-d4e779f99340.png">

[2018-11-28 15:15] joscol commented on #158
The zero is selected so if the user types another number, it will overwrite the zero.  I don't have a strong opinion on the right behavior.  @vtbassmatt, what do you think?

[2018-11-28 15:22] vtbassmatt commented on #158
If there's a way to specify a default, we could add it to the schema since the task likely suggests a default. If not, I'm OK with 0. @joscol can you see if we can offer a default?

[2018-11-28 18:31] JustinGrote opened #170 "Doesn't recognize PublishPipeLineArtifact task"
![image](https://user-images.githubusercontent.com/15258962/49173468-a04cd080-f2f8-11e8-80bc-341ab504ec94.png)

Perhaps in the build process (or maybe even extension startup process), dynamically retrieve this info from an API or something so its not always a game of catch-up? I imagine tasks will evolve rather dynamically.

[2018-11-28 19:00] vtbassmatt commented on #170
Yep, that's issue #58. Meanwhile I do intend to regenerate the schema shortly. Thanks!

[2018-11-29 20:46] vtbassmatt commented on #58
We'll need to depend on [Azure Account](https://github.com/microsoft/vscode-azure-account). That team has expressed willingness to add features and fix bugs for us if needed.

[2018-12-04 20:34] joscol commented on #152
Do we want to generalize it and never suggest every word from the file?  Or do we want to keep that behavior in some situations?  I'm good with completely disabling the suggest every word "feature" (assuming I can figure out how to)

[2018-12-04 20:51] vtbassmatt commented on #152
Once we have the server connection feature, I can't think of a place where we'll ever need autocomplete driven from the contents of the file. (Until then, stuff like repeating the name of a private pool or custom task might be handy? Certainly not necessary, though, since we'll red-squiggle it anyhow!)

[2018-12-05 01:13] guitarrapc opened #175 "NuGetCommand@2 inputs failed to recognize `restoreSolution` parameter"
## Description

Copied yaml definition from Azure DevOps Pipeline `View YAML` but extension failed to recognize `restoreSolution` parameter.

![image](https://user-images.githubusercontent.com/3856350/49483380-4018da00-f876-11e8-920a-05b0becd74c2.png)

Is it same problem of the issue https://github.com/Microsoft/azure-pipelines-vscode/issues/58 describe?

## Reproduce YAML Sample

[code]

![image]

[2018-12-05 13:21] vtbassmatt commented on #175
I bet this is fixed by some of the schema work @joscol is doing.

[2018-12-05 14:49] joscol commented on #175
`restoreSolution` is an alias for the `solution` input.  Alias support is in progress.  https://github.com/Microsoft/azure-pipelines-language-server/pull/33

[2018-12-05 18:24] joscol opened #176 "Using auto-complete to fix a typo breaks structure"
Put the cursor between the middle of a misspelled key like this and hit ctrl-space:

<img width="401" alt="conditin_typo_complete_prompt" src="https://user-images.githubusercontent.com/43352055/49534999-073a2e80-f891-11e8-8009-c1480a8c0471.png">

hit Enter to select the correct version and an extra `:` is inserted:

<img width="168" alt="conditin_typo_broken" src="https://user-images.githubusercon

[2018-12-05 19:39] joscol opened #177 "Multi-document files should be rejected"
Yaml allows for multiple documents in a single file using `---` and `...` to mark the beginning and end of each document.  Pipelines do not support this and should clearly indicate the error.

[2018-12-06 14:11] vtbassmatt commented on #120
Because of history, the alias is often the nicer string for YAML. Inputs were originally hidden from the end user, so many tasks were fairly free-form with what they were called. The end user only saw the display name. Now that they're directly exposed, we don't want to break people using the "real" name but we did want a way to offer up a nicer string.

[2018-12-07 23:03] auchenberg opened #183 "Your extension have been featured!"
Hi,

It's Kenneth from VS Code. I'm reaching out to tell you that we have featured your awesome VS Code extension on our marketplace https://marketplace.visualstudio.com/#VSCode.

Please work with your community to resolve any major issues, as you'll probably see a significant bump in new users trying your extension.

Thanks for the great work, and happy coding!

/k

Kenneth Auchenberg
Visual Stud

[2018-12-10 18:40] #170 closed

[2018-12-11 04:05] geofflamrock opened #184 "PublishTestResults: testResultsFormat shows error"
Hi,

When I use the following yaml:

[code]

an error "Unexpected property testResultsFormat" is given.

The docs at https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=vsts&tabs=yaml say that testResultsFormat is an alias for testRunner, so I believe this property should be ok?

Thanks.

[2018-12-11 12:47] vtbassmatt commented on #183
Thanks for the heads up!

[2018-12-11 12:47] #183 closed

[2018-12-11 13:51] sk82jack commented on #134
I think I've run into this as well but not 100% sure so let me know if you want me to log a seperate issue.

I installed the extension and it told me my yaml was invalid because of an unexpected property `jobs` at the root level
![2018-12-11_13-35-08](https://user-images.githubusercontent.com/20758758/49804288-1403ca00-fd4a-11e8-95f9-4044ce17f014.png)

If I remove the `trigger` and `pr` sections t

[2018-12-11 15:36] vtbassmatt commented on #134
Thanks @sk82jack - that looks like another example of this issue.

[2018-12-11 15:43] vtbassmatt commented on #184
Thanks for the feedback! This is tracked by #120 which we're actively working on. We have the fix in our language server, now just need to consume it in schema generation for the extension.

[2018-12-11 15:43] #184 closed

[2018-12-11 21:38] geofflamrock commented on #184
Thanks @vtbassmatt apologies for the duplicate issue, I did a search before I raised it but mustn't have found that one.

[2018-12-12 13:50] VHamar commented on #96
Would be really nice if Task pane could support the same functionality as add task "pane" in the ADO UI does: List of tasks that can be filtered, and then inserted at cursor with common inputs. F.ex type nuget, then select the nuget task and it's inserted into the yaml with the default inputs.

[2018-12-12 22:19] Tyriar commented on #90
I just installed the extension and saw this issue as well:

<img width="614" alt="screen shot 2018-12-12 at 2 16 56 pm" src="https://user-images.githubusercontent.com/2193314/49902423-c3a76d80-fe18-11e8-8d18-0a4bfe541c7a.png">

[2018-12-13 13:40] vtbassmatt commented on #90
The next feature I'm hoping to deliver here, beyond basic correctness fixes, is to attach to an Azure DevOps instance and grab the legal task names / schema from there.

[2018-12-13 21:13] rsemenov opened #185 "Description of task completion items is not correct"
It always shows "Task reference including major version" on every task. It would be nice to actually show suggested task description.

![completion_task_description](https://user-images.githubusercontent.com/1785438/49967765-d17cf180-fef1-11e8-9070-a51e5e166848.gif)

[2018-12-14 13:08] vtbassmatt commented on #104
Wrote up a mini spec, @joscol. I'm not entirely satisfied with GitHub as a medium for writing specs, so I may switch over to Markdown in the repo at some point.

[2018-12-14 17:06] vtbassmatt commented on #58
@joscol I also added detail here.

[2018-12-17 11:43] StefanSchoof opened #186 "strange highligt of ** in multi line at the beginn of a line"
I got a VSTest Task with a multi line pattern for test dlls.
The first pattern has a `**` a the beginning. The first `*` gets an other color as the seconds. Having `**` in middle of a string, does not highlight the first `*`. I do not think this is intentional.
![grafik](https://user-images.githubusercontent.com/4662023/50084902-ccbd8380-01f8-11e9-993f-c7dcfaf93b34.png)

[2018-12-17 15:18] #153 closed

[2018-12-20 21:20] CoolDadTx opened #187 "Template expressions cause syntax errors in YAML files"
When using the Azure Pipelines extension against a YAML file containing a template expression it reports errors when the file is valid.

[code]

Reports on the ${{ line: unexpected property, The first property must be a script.

[2018-12-20 21:24] CoolDadTx opened #188 "Multiline Powershell strings are not properly terminated"
If you have a multiline Powershell string inside a step then the YAML extension renders everything after the starting line as part of the string.

[code]
Everything from the @' on is shown as part of the string. Note that the PS script itself works fine, it is just being rendered wrong.

[2018-12-29 00:35] aronchick opened #189 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.145.1`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.30.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/daaronch/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extensio

[2019-01-02 15:08] vtbassmatt commented on #189
@aronchick can you share the cpuprofile.txt file?

[2019-01-02 15:32] vtbassmatt commented on #188
This feels similar to another issue (which I can't see to find right now) related to YAML string literals that begin with `|`.

[2019-01-02 22:09] joscol commented on #87
@vtbassmatt With the firstProperty changes, I think this is working well now.  Also, the parser currently doesn't support if/then/else.  We might need to add it eventually, but I think we can live without it for now.

[2019-01-03 12:33] vtbassmatt commented on #87
Great, thanks @joscol!

[2019-01-03 12:33] #87 closed

[2019-01-03 14:48] #185 closed

[2019-01-03 16:47] joscol opened #192 "Inconsistent error position"
The "unexpected property" error can either appear on the property or on the parent depending on if there is a value.  It should be consistent and preferably on the property

<img width="230" alt="prop_error_with_value" src="https://user-images.githubusercontent.com/43352055/50650019-584f4800-0f4d-11e9-9867-e3c30d974706.png">

<img width="188" alt="prop_error_without_value" src="https://user-images

[2019-01-03 16:56] aronchick opened #193 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.145.1`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.30.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/daaronch/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extensio

[2019-01-03 16:58] aronchick commented on #189
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/Microsoft/azure-pipelines-vscode/files/2724633/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2019-01-03 18:14] vtbassmatt commented on #193
Is this a dupe of #189?

[2019-01-03 21:01] aronchick commented on #193
sorry, not sure - i suspect yes, but i got to it through a different path (this one was via clicking on the pipelines in VS code, the other was via trying to install azure pipelines extension via the toast popup alert)

[2019-01-04 11:37] vtbassmatt commented on #193
Gotcha, thanks! We'll start with the other one and see if anything's obvious.

[2019-01-07 14:40] kevin-david commented on #134
Just adding another example, looks like this is also happening in the new online editor:

![complex_condition](https://user-images.githubusercontent.com/1923186/50773920-2517fc00-1260-11e9-9163-0f3d4aac7e2b.gif)

It would also be really nice if parentheses are highlighted!

[2019-01-07 15:17] amrock-my commented on #187
Are you sure all of your whitespacing is correct? In your copy/paste it looks like the first dash is under the letter 't' in steps, when it probably should be under 's'.

**azure-pipelines.yml:**

[code]

**dotnetcore.yaml:**

[code]

That seems to work perfectly fine for me, I use the `dotnetcore.yaml` template, and within that template I split up my PR vs CI build steps, but they all get called

[2019-01-07 15:36] CoolDadTx commented on #187
Yes it was a typo. The YAML I'm editing in VS code is the exact same YAML running our YAML builds. The YAML parser has no problems with it. The editor complains.

[2019-01-07 15:40] CoolDadTx commented on #187
If I paste your job YAML into an empty YAML file I get the same error with your YAML.

[2019-01-07 16:18] vtbassmatt commented on #187
This is a known issue. Template expressions as keys are not yet supported everywhere. Sorry - we're getting to it!

[2019-01-07 19:09] amrock-my commented on #187
Ah yes, I get errors in the editor, I thought perhaps your actual pipelines were complaining.

[2019-01-09 15:49] joscol commented on #193
Can you attach the cpuprofile to this bug?

[2019-01-09 15:52] joscol commented on #189
There was an issue in the way we were building the extension that caused version 1.145.1 to have a lot of extra files packaged in it.  I'm not sure if VS code ever opened the files since they were unnecessary but if it was opening them, it could explain this issue as file open is the most time consuming function listed in the profile.  We just published version 1.147.1 which does not have the extr

[2019-01-09 17:46] aronchick commented on #189
Looks like it's working now - i click the triangle, and it doesn't spin forever, but it doesn't have a sample pipeline in it (e.g. my-first-experiment in the Experiments section) - is that correct?
________________________________
From: Joshua Cole <notifications@github.com>
Sent: Wednesday, January 9, 2019 7:55 AM
To: Microsoft/azure-pipelines-vscode
Cc: David Aronchick; Mention
Subject: Re: [Mic

[2019-01-09 18:00] vtbassmatt commented on #189
We don't have a sample pipeline or anything like that yet. I'm not clear what you're referring to by "the Experiments section" -- is it possible that's coming from some other extension?

[2019-01-09 18:59] #119 closed

[2019-01-09 18:59] #120 closed

[2019-01-09 19:00] #137 closed

[2019-01-09 19:00] #155 closed

[2019-01-09 19:03] #160 closed

[2019-01-09 19:06] joscol commented on #162
Partially fixed.  Still fails for 1.10

[2019-01-09 19:17] #167 closed

[2019-01-09 19:18] #175 closed

[2019-01-09 19:18] #177 closed

[2019-01-09 19:24] aronchick commented on #189
Correct - it's a different extension.

![screen shot 2019-01-09 at 11 24 00 am](https://user-images.githubusercontent.com/51317/50923180-2e8c9a00-1401-11e9-86c9-48d1d79eb864.png)

[2019-01-10 13:38] vtbassmatt commented on #189
OK, sounds like the original issue is fixed. We don't have any connection with "Pipelines" in that other extension, so I'll close the issue.

[2019-01-10 13:38] #189 closed

[2019-01-12 20:55] brcrista opened #196 "Wildcard branch filters fail validation"
Azure Pipelines now supports branch filters with general wildcard syntax: `*` or `?` anywhere in the filter.  In the past, only "prefix filters" -- where `*` is at the end of the pattern -- were supported.

For example, the extension warns on these filters, which are actually valid:

![image](https://user-images.githubusercontent.com/33549821/51078395-68b89e80-1682-11e9-9352-f79293305d0a.png)

[2019-01-18 20:57] vtbassmatt opened #197 "Repository type "git" should be accepted; corresponds to Azure Repos"
Behavior in 1.147.1:
![image](https://user-images.githubusercontent.com/714283/51412479-bed18a00-1b39-11e9-86a9-a80bf7e2a084.png)

[2019-01-22 15:24] joscol commented on #149
Fixed in https://github.com/Microsoft/azure-pipelines-language-server/pull/52

[2019-01-22 15:26] mchelen opened #198 "Incorrect warnings for Npm@1 task optional parameters"
This is an example task for running an `npm install`:

[code]

There is an incorrect warning for `inputs` which says:
[code]

All of these parameters are optional and excluding them should not show a warning.

[2019-01-23 14:47] joscol opened #199 "Conditions containing / are marked invalid"
Example:

       condition: and(succeeded(), eq(variables['Build.SoruceBranch'], 'refs/head/master'))

[2019-01-23 20:45] vtbassmatt commented on #198
@damccorm the right fix is probably in the new schema endpoint.

[2019-01-23 21:09] damccorm commented on #198
I actually don't think it is, it looks like these are required in [the task.json](https://github.com/Microsoft/azure-pipelines-tasks/blob/ffe26c7146e1ff526c13b1120bed74360385bdef/Tasks/NpmV1/task.json#L72). The issue seems to be coming from the fact that they're hidden whenever they're not needed, so we really need to be looking at both the ```required``` property and the ```visibleRule``` propert

[2019-01-24 13:38] vtbassmatt commented on #198
If the field is marked required in task.json, and it has no default, and it has no visibility rule, then it's really-truly required in the customer YAML document. The presence of a default or a visibility rule means that the task is engineered to handle a missing value.

[2019-01-25 16:16] damccorm commented on #198
Added a PR to close the loop on this. It is now fixed in the new endpoint as well.

[2019-01-25 19:45] #198 closed

[2019-01-30 14:14] vtbassmatt commented on #34
The spirit of this one is done with all the improvements we've made since August.

[2019-01-30 14:14] #34 closed

[2019-01-30 14:22] vtbassmatt commented on #157
This would be nice to have, but it's basic YAML stuff that's fairly common knowledge.

[2019-01-30 14:22] #157 closed

[2019-01-30 14:29] vtbassmatt opened #201 "Automatically pick up latest schema on builds"
Today, we have to manually check in the results of the schema endpoint each sprint. For the "living" schema from the service, that should be automated.

[2019-02-04 22:38] RDIL opened #203 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.147.1`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.30.2`
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/Microsoft/azure-pipelines-vscode/files/2830054/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

Find more details here: https://github.com/Microsoft/v

[2019-02-04 23:46] vtbassmatt commented on #203
@joscol we need to dig in on Mac. This isn't the first time we've gotten a perf report on that platform.

[2019-02-06 03:24] RDIL opened #204 "Extension causes high cpu load (another report)"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.147.1`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.30.2`
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/Microsoft/azure-pipelines-vscode/files/2834752/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

Find more details here: https://github.com/Microsoft/v

[2019-02-06 11:18] lee33d commented on #134
ext install ms-azure-devops.azure-pipelines

[2019-02-06 11:20] lee33d commented on #149
ext install ms-azure-devops.azure-pipelines

[2019-02-06 11:21] lee33d commented on #192
ext install ms-azure-devops.azure-pipelines

[2019-02-06 16:11] #149 closed

[2019-02-07 12:55] vtbassmatt commented on #58
VS Code 1.31.0 introduces `ExtensionContext.globalStoragePath`, which is a place we could cache schemas.

[2019-02-18 01:25] duracellko opened #206 "Feature: Flag tasks with new version available"
Pipeline designer shows flag next to build tasks, which exists newer version for. For example, when the build uses Azure App Service Deploy version 3, there is flag that version 4 is available.

It would be nice, if the VSCode extension underlines the task. For example, when there is `task: AzureRmWebAppDeployment@3` in YAML, it would get underlined, because `task: AzureRmWebAppDeployment@4` is av

[2019-02-19 12:38] vtbassmatt commented on #206
Agreed, we could do this with a Hint diagnostic.

[2019-02-19 13:24] bryanmacfarlane commented on #206
note that there's also new versions available but at preview.  So you don't want to necessarily push too hard in that case.  Also, whatever we do, it shouldn't be conveyed as an error - more of an FYI

[2019-02-28 07:42] stannynuytkens commented on #187
`- ${{ each configuration in parameters.configurations }}:` also produces errors but my guess is it's related.

[2019-02-28 20:32] vtbassmatt opened #209 "Allow VS Code to "format document" when a file is marked as Azure Pipelines"
I need to investigate what teaches VS Code how to format a doc. Is YAML a native thing, or is there something we could do in our extension to tell it that an Azure Pipelines file is also a YAML doc.

[2019-03-04 19:47] mikeharder commented on #209
We would like to use this extension for syntax highlighting and autocomplete.  However, this extension does not support "format document", and it's also incompatible with other extensions which do provide formatting (e.g. [Prettier](https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode), [YAML](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml)).

Since "f

[2019-03-07 10:41] vtbassmatt commented on #209
This doesn't look too big, we could do something like: https://github.com/adamvoss/vscode-yaml-languageservice/blob/master/src/services/yamlFormatter.ts

[2019-03-11 00:03] calebcartwright commented on #21
FWIW, one way I've gotten the icons to show when using vscode-icons is to add the file associations in my workspace settings.

[code]

[2019-03-11 11:28] vtbassmatt commented on #21
We landed a PR in vscode-icons which should make this better by default: https://github.com/vscode-icons/vscode-icons/pull/1741

[2019-03-11 11:28] #21 closed

[2019-03-14 21:08] d3r3kk commented on #134
Piling on:

![image](https://user-images.githubusercontent.com/11466735/54391585-7d091f80-4662-11e9-9544-d60dab7d4015.png)

Also failing:

and(succeeded(), contains(variables['TestsToRun'])

[2019-03-15 11:39] josephpage opened #211 "Property failTaskOnFailedTests not recognized"
The `failTaskOnFailedTests` property for the `PublishTestResults@2` task is not recognized, and an warning is displayed, though this option is mentionned in docs :

![Capture d’écran 2019-03-15 à 12 28 55](https://user-images.githubusercontent.com/351958/54428803-e8182c00-471e-11e9-921e-dfc5ceb099e8.png)

[2019-03-17 21:08] RDIL opened #212 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.147.2`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.32.3`

[2019-03-21 13:49] vtbassmatt commented on #211
Thanks - this is a schema bug, [that field is legal](https://github.com/Microsoft/azure-pipelines-tasks/blob/b22f64b916457afe3d8ca426dcd4c71ede651a9d/Tasks/PublishTestResultsV2/task.json#L77).

[2019-03-30 05:11] cschleiden commented on #196
Not sure if the same issue, but this fails, too:
![image](https://user-images.githubusercontent.com/2201819/55271759-8e137c80-526f-11e9-895b-fb480635d002.png)

[2019-04-03 18:29] #204 closed

[2019-04-09 07:03] wichert opened #214 "submodules key for checkout task does not support "recursive" value"
The [checkout task](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#checkout) allows `recursive` as a value in addition to the normal boolean values. This is currently flagged as an error by the plugin. I suspect a patch like this should fix that:

[code]

[2019-04-09 12:29] vtbassmatt commented on #214
Thanks! I'm trying to get a fresh re-gen of the entire schema, just haven't had time to focus on it. That should fix this issue. Leaving open until I can verify, though.

[2019-04-12 04:20] sstryhalaleck opened #215 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.147.2`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/stevestryhalaleck/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:

[2019-04-12 04:27] sstryhalaleck commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/Microsoft/azure-pipelines-vscode/files/3071541/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2019-04-14 15:14] cspencerjr opened #216 "Extension causes high cpu load"
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/Microsoft/azure-pipelines-vscode/files/3077522/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.147.2`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your

[2019-04-18 11:08] cmeyertons opened #217 "Feature Request: Auto scaffold a tasks required properties with their defaults on task creation"
Before this extension came along (which is AWESOME btw), my workflow (which I bet was pretty common) was to:

1. go to the GUI
2. generate a test pipeline / augment an existing pipeline w/o saving
3. Inspect the YAML and start tweaking it untill I got desired state
4. copy paste

When autocompleting a new task in a pipeline from the extension, scaffold the required properties and their defaults th

[2019-04-18 12:33] vtbassmatt commented on #217
I definitely want this feature.

[2019-04-18 15:19] joscol opened #218 "Malformed regular expressions in schema break everything"
Schema issues should be uncommon as the source of the schema is controlled, but some protections against schema errors, such as handling malformed regular expressions can be done.

[2019-04-24 17:25] joscol opened #219 "multi-document error triggered incorrectly"
If the first non-comment line of a file does not contain a `:`, it will incorrectly trigger the multi-document error.

[2019-04-24 17:49] vtbassmatt commented on #219
Including whitespace?

[2019-04-24 17:53] joscol commented on #219
@vtbassmatt No, whitespace doesn't trigger it.

[2019-04-24 18:57] vtbassmatt commented on #219
I can't think of any cases where it's valid to have a non-comment first line that doesn't contain a `:`. I assume this is actually a fix in the language server/service, not the extension.

[2019-04-24 19:03] joscol commented on #219
It's not valid.  But the validation should generate a specific error about that instead of highlighting the entire file and complaining about multi-document files being invalid.

Yes, the fix will be in the language service.  We've been tracking all the bugs here instead of splitting them up.

[2019-04-25 05:47] adefemi171 opened #220 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.147.2`
- OS Version: `Linux x64 4.15.0-48-generic`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/potus/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-ext

[2019-04-29 13:52] michaelw85 opened #221 "[BUG] Error when using conditional in job, steps"
Error when you add a conditional step.

Partial YAML:
[code]

[code]
![image](https://user-images.githubusercontent.com/3629094/56900691-b53fb280-6a96-11e9-865d-78abe3fe5cc2.png)

[2019-04-29 13:59] michaelw85 opened #222 "[BUG] Unexpected property parameters"
When creating a pipeline template with parameters, the parameters will be flagged as unexpected.

YAML
[code]
![image](https://user-images.githubusercontent.com/3629094/56901107-a7d6f800-6a97-11e9-9575-8d7df2b24bf3.png)

[2019-04-29 14:53] vtbassmatt commented on #222
Thanks. This will be fixed when we get the new schema file added.

[2019-05-08 14:28] dci-aloughran commented on #211
What's the likelihood of this getting fixed?

[2019-05-08 15:40] vtbassmatt commented on #211
Next week I hope to take a new snapshot of the schema, which will fix this and a host of other issues. Sorry, it's been on my backlog for a while but keeps getting preempted.

[2019-05-08 15:48] dci-aloughran commented on #211
Not a problem at all.  Appreciate the fine work!
☺

Andy

IMPORTANT NOTICE

This communication is from Deloitte LLP, a limited liability partnership registered in England and Wales with registered number OC303675. Its registered office is 1 New Street Square, London EC4A 3HQ, United Kingdom. Deloitte LLP is the United Kingdom affiliate of Deloitte NWE LLP, a member firm of Deloitte Touche Tohmatsu

[2019-05-09 05:20] Tadimsky opened #223 "Stage support in extension"
Now that multi-stage pipelines have been release, it would be great for the extension to support them.

If I try and use it now, you get an error message:
![image](https://user-images.githubusercontent.com/1149244/57428960-6bb23e80-71df-11e9-9f92-8ad09ea20731.png)

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/stages?view=azure-devops&tabs=yaml

[2019-05-09 10:57] vtbassmatt commented on #223
I agree. When I get a chance next week to re-gen the schema (yes, it's still a manual process at the moment), it's going to feel great to close a whole swath of schema bugs at once :)

[2019-05-13 23:46] vtbassmatt commented on #223
Fixed in [152.0](https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.152.0).

[2019-05-13 23:47] vtbassmatt commented on #222
D'oh, I'm wrong. This was not fixed in 1.152.0's schema. Flagging for additional followup.

[2019-05-13 23:54] vtbassmatt commented on #214
With [1.152.0](https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.152.0), we no longer give an error about the string "recursive", but we also don't correctly ignore invalid strings.

[2019-05-13 23:57] vtbassmatt opened #224 "With 1.152.0, `trigger: { batch: true }` doesn't validate"
[code]

This should correctly validate, but in 1.152.0, we get told "expected a string 'true'". The service's parser reads everything as a string and then coerces when needed to bool, so either `true` (boolean) or `'true'` (string) is acceptable.

[2019-05-13 23:58] vtbassmatt commented on #211
Fixed in [1.152.0](https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.152.0).

[2019-05-13 23:58] #211 closed

[2019-05-14 00:02] vtbassmatt commented on #125
Fixed in #213

[2019-05-14 00:02] #125 closed

[2019-05-14 00:04] vtbassmatt commented on #199
Fixed in [1.152.0](https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.152.0).

[2019-05-14 00:04] #199 closed

[2019-05-14 00:06] vtbassmatt commented on #197
In [1.152.0](https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.152.0), this regressed further. Nothing under the `repositories:` key is suggested anymore.

[2019-05-14 00:08] vtbassmatt commented on #196
Hmm, not sure if this belongs to the schema endpoint or to the language service. Tagging both @damccorm and @joscol.

[2019-05-14 00:11] vtbassmatt commented on #221
Dupe of #187

[2019-05-14 00:11] #221 closed

[2019-05-14 00:12] vtbassmatt commented on #186
The coloring is weird, but at least it seems to catch up by the next key.

[2019-05-14 00:15] vtbassmatt commented on #162
Fixed in [1.152.0](https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.152.0).

[2019-05-14 00:15] #162 closed

[2019-05-14 00:18] vtbassmatt commented on #154
Fixed in [1.152.0](https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.152.0).

[2019-05-14 00:18] #154 closed

[2019-05-14 00:22] vtbassmatt commented on #134
Fixed in [1.152.0](https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.152.0).

[2019-05-14 00:22] #134 closed

[2019-05-14 00:24] vtbassmatt commented on #123
Example:
[code]

[2019-05-14 00:25] vtbassmatt commented on #108
Still can't repro. I suspect we fixed it in one of the language server improvement passes.

[2019-05-14 00:25] #108 closed

[2019-05-14 00:27] vtbassmatt commented on #83
Fixed with #213 (and the schema endpoint).

[2019-05-14 00:27] #83 closed

[2019-05-14 00:36] vtbassmatt commented on #220
Likely dupe of #215

[2019-05-14 00:36] #220 closed

[2019-05-14 00:36] vtbassmatt commented on #216
Likely dupe of #215

[2019-05-14 00:36] #216 closed

[2019-05-14 00:36] vtbassmatt commented on #212
Likely dupe of #215

[2019-05-14 00:36] #212 closed

[2019-05-14 00:37] vtbassmatt commented on #204
Probably dupe of #215

[2019-05-14 00:37] vtbassmatt commented on #203
Probably dupe of #215

[2019-05-14 00:37] #203 closed

[2019-05-14 00:38] vtbassmatt commented on #193
Probably dupe of #215 (which has a profile attached)

[2019-05-14 00:38] #193 closed

[2019-05-14 13:34] damccorm commented on #197
Nothing under the key is suggested at all? Or no suggestions are showing up under type? From what I can see, the type not showing up makes sense and is expected given the current schema (and is a relatively easy fix). But if its not suggesting anything at all under repositories, I'm not certain that's a schema bug.

The repositories definition looks like:
[code]

It looks like `repository`, `endpo

[2019-05-14 13:35] damccorm commented on #197
We're definitely missing the enum for `type` though

[2019-05-14 13:45] vtbassmatt commented on #197
<img width="557" alt="image" src="https://user-images.githubusercontent.com/714283/57702905-f99d8780-762c-11e9-973e-7754d574a729.png">

[2019-05-14 14:35] damccorm commented on #197
@joscol given comments above I think this might be an issue with the language service

[2019-05-14 15:13] damccorm commented on #222
Looks like this can probably be handled by adding some options for templates at the [entry oneOf](https://github.com/microsoft/azure-pipelines-vscode/blob/19892db1f69a22aa2129b6b0a45f78f7b179d17e/service-schema.json#L7). I'll add a PR internally to address this on the endpoint we generate this from.

[2019-05-14 15:23] damccorm commented on #196
This should be resolved on the schema side. We can just take out the stuff that excludes *

[2019-05-14 15:27] damccorm commented on #196
Added a PR internally to do this.

[2019-05-15 08:56] centreboard opened #226 "Custom tasks"
With tasks installed as extensions (e.g. GitVersion), they all are identified as "Azure VM scale set deployment" and inputs validated against that
[code]
![image](https://user-images.githubusercontent.com/10487726/57762618-ba883880-76f7-11e9-8af6-d2af3679a482.png)

[2019-05-15 11:27] vtbassmatt commented on #226
Oh, that's ugly. Thanks for reporting.

@damccorm is there anything we can do in schema, or is this a language server issue?

[2019-05-20 14:09] damccorm commented on #226
The issue here is that we're generating the list of installed tasks ahead of time. The endpoint works correctly for the web editor, but not here since there's no way to know that which tasks users will need ahead of time.

The right solution here is probably to add something like an `allowAdditionalTasks` option, which tells the schema not to flag tasks that aren't included in the installed list,

[2019-05-20 16:22] vtbassmatt commented on #226
Yes, in the core schema, we should _suggest_ in box but _allow_ any. Even once we have the ability to connect to your Azure DevOps server of choice, there may be times when you're offline and want to use the baked-in schema.

[2019-05-25 21:46] nelsonjchen opened #227 "`*` is an invalid branch name or prefix filter"
[code]

<img width="679" alt="Screen Shot 2019-05-25 at 2 46 02 PM" src="https://user-images.githubusercontent.com/5363/58374897-e4add780-7efb-11e9-9a5f-9f4080bece67.png">

Azure Pipelines accepts this just fine.

[2019-05-28 11:48] vtbassmatt commented on #227
Thanks.

[2019-05-28 18:06] nelsonjchen commented on #227
Dupe of #196

[2019-05-28 18:06] #227 closed

[2019-06-04 16:16] af4jm opened #228 "strange highlight of : in a multiline script"
I'm seeing strange highlighting when an inline script has a : in it (in this case the : is inside a string, making even stranger, although I'd expect the highlighting to not care about that)...

![image](https://user-images.githubusercontent.com/849948/58895623-5804d580-86c2-11e9-8dc9-c63e48d552d4.png)

[sample file as a gist](https://gist.github.com/af4jm/d25cb321d0f9d0dcbe50ac88b0f1ee71)

[2019-06-06 22:01] Tadimsky commented on #223
@vtbassmat it looks like I'm not seeing it for some reason. Any ideas why?

I have the right version I believe:
![image](https://user-images.githubusercontent.com/1149244/59069443-f6806a80-886b-11e9-8e36-5b34985b1256.png)

![image](https://user-images.githubusercontent.com/1149244/59069450-ff713c00-886b-11e9-8c53-04d5d421b67d.png)

[2019-06-06 22:04] Tadimsky commented on #223
Nevermind, I had to actually fill in the properties for the stage and then it was ok. I would have expected it to show up in auto complete though (which it didn't).

[2019-06-10 21:23] Jaykul opened #229 "conditional templates (aka the red squiggles are a lie!)"
When I try to use code like this:

[code]

I get red squiggles all over the step and down onto the next one, claiming first that the `${{ if ...` is (or has? the error isn't clear) an unexpected property, and then that "The first property must be task" ...

![image](https://user-images.githubusercontent.com/192942/59227904-76783e80-8ba4-11e9-91d1-c9113f8b49ba.png)

Of course, the red squiggles are

[2019-06-12 15:51] noelbundick opened #230 "No schema for pool.vmImage"
Using hosted agent pools is the most common use case I see for using Azure Pipelines. This extension doesn't recognize the following

[code]

There are no errors, but there's no autocomplete, etc for `vmImage` - it's just seen as an unrecognized extra property.

It seems like at one point there was a commit to add this functionality: https://github.com/microsoft/azure-pipelines-vscode/commit/20cb1

[2019-06-13 12:54] vtbassmatt commented on #230
The schema is generated by the server, so adding it manually here will just get clobbered again in the future. I'll see if @damccorm can get a proper fix on the server, then I'll regenerate the schema here.

[2019-06-13 13:16] vtbassmatt commented on #229
Yes - we need to invest in our handling of `${{ }}` constructs.

[2019-06-13 15:13] vtbassmatt commented on #223
Hmm, I would have expected it to show up in autocomplete as well. Also odd that it told you "unexpected property" and then later worked.

[2019-06-13 15:17] craxal opened #231 "Use more distinctive icon for Azure Pipeline YAML files"
VS Code uses the default generic file icon for files identified as Azure Pipeline files. It would be much better to use a more distinctive icon, such as the rocket icon used by the extension itself. At the very least, it should retain the bang "!" icon, since these are YAML files.

[2019-06-13 16:47] vtbassmatt commented on #231
Hey, thanks for the suggestion. There's currently no way in VS Code to provide an icon for a single filetype. If we were to ship icons, we'd have to cover every filetype and you'd have to separately choose this extension as your icon set. Or, VS Code would have to implement something like [this suggestion](https://github.com/microsoft/vscode/issues/14662) or at least [this](https://github.com/micr

[2019-06-13 16:47] #231 closed

[2019-06-14 12:58] vtbassmatt commented on #224
Probably related:
[code]

tells us "Incorrect type. Expected 'string'" for the `clean` key.

[2019-06-25 10:31] ed-graham opened #232 "Syntax errors given for valid extensions"
The AWS Tools extension for Azure Pipelines (https://marketplace.visualstudio.com/items?itemName=AmazonWebServices.aws-vsts-tools) allows tasks like this to be specified in azure-pipelines.yml:

# Deploy to AWS Elastic Beanstalk
- task: BeanstalkDeployApplication@1
  inputs:
    awsCredentials: 'AWS'
    regionName: 'eu-west-2'
    applicationName: 'HelloWorld'
    environmentName: 'Helloworld-env

[2019-06-25 11:13] vtbassmatt commented on #232
Thanks for the report. It's not obvious, but this is a dupe of #226.

[2019-06-25 11:13] #232 closed

[2019-06-25 13:29] ed-graham commented on #226
Hi - I've just raised #232 without realising it was a duplicate: apologies.  So in my case I have installed two sets of custom tasks from VSTS marketplace - tasks for AWS and SonarQube - but even though they are installed I'm still seeing the squiggly lines of death in the web editor (VS Code).  Is this expected behaviour?  Based on the first paragraph in the reply from @damccorm I would have said

[2019-06-25 14:59] vtbassmatt commented on #226
No worries about the dupe - it wasn't obvious from the descriptions for someone who isn't a core member of the team :)

VS Code currently doesn't have a way to get custom task schema installed. You mention the web editor, though - in the YAML pipelines experience inside Azure Pipelines, you should get custom tasks highlighted correctly.

[2019-06-25 15:44] damccorm commented on #226
To be clear - even in VS Code you shouldn't get the red squiggly line for custom tasks - that's a bug that should be fixed. You just won't get intelligent suggestions for custom tasks in VS Code even when that is fixed, and that's currently by design.

The fix for the red squiggly lines is actually in master on our end, so the fix for that should be available when that rolls out and we regen the s

[2019-06-26 07:10] ed-graham commented on #226
Thanks @vtbassmatt and @damccorm for the replies - very helpful.  I misunderstood the phrase "web editor" to mean "tool to edit web applications" (i.e. VS Code) rather than "browser-based editor"; so now all the answers make sense!  @damccorm - does the squiggly-line fix in master also remove the issues from the Problems panel?  That's the bigger issue for me at the moment (and the thing that make

[2019-06-26 13:06] damccorm commented on #226
Yeah, they shouldn't show up as errors at all.

[2019-07-02 08:15] mkpankov opened #233 "checkout: clean conflicts with documentation"
Docs:

[code]

Extension warns on boolean and offers "all, resources, outputs".

![image](https://user-images.githubusercontent.com/393741/60495970-88886100-9cba-11e9-85c5-ad5dba69586b.png)

[2019-07-02 12:48] vtbassmatt commented on #233
Hmm, thanks. I'll look into this one.

[2019-07-02 12:50] vtbassmatt commented on #233
Extension is right, docs are wrong. Fixing.

[2019-07-02 12:50] #233 closed

[2019-07-02 14:49] mkpankov commented on #233
Welp.

Doesn't seem to be the case for me, as I've used `clean: false` successfully. Unless it falls back from parsing error?

[2019-07-02 14:51] vtbassmatt commented on #233
That's my guess. We probably swallow the error and the thing you want is happening accidentally :)

[2019-07-17 04:42] roblourens opened #234 "Validation warning for trigger include with *"
I copy the example from https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#tags:

[code]

into my config file in vscode with the extension installed. The line with the * is underlined with the warning: `String does not match the pattern of "^[^\/~\^\: \[\]\*\\]+(\/[^\/~\^\: \[\]\*\\]+)*(\/\*)?$".` But I have been using a similar include pattern and i

[2019-07-19 09:41] flcdrg opened #235 "Add support for PublishPipelineArtifact@1"
New version of the publish and download / DownloadPipelineArtifact@2 tasks

[2019-07-19 11:07] vtbassmatt commented on #235
Thanks. Next time we get a schema snapshot, it'll include the new task.

[2019-07-19 11:27] flcdrg commented on #235
I've got a PR coming, if you'd like that, unless you generate them automatically

[2019-07-19 11:30] vtbassmatt commented on #235
We generate automatically.

[2019-07-19 11:40] flcdrg commented on #235
ah.. ok. wasn't sure about that.

[2019-07-25 06:53] s-bauer commented on #229
@vtbassmatt Is there any progress with this? It's really annoying having that many syntax errors, even tho the document is correct and executes without problems!

[2019-07-25 11:29] vtbassmatt commented on #229
No progress to report, I'm sorry 😞

[2019-07-31 11:37] cmeyertons opened #240 "checkout.lfs is string in ref schema while documentation states boolean"
![image](https://user-images.githubusercontent.com/19917677/62208843-94b91a00-b35d-11e9-8157-b1defd49d0e1.png)

docs: https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#checkout
[code]

[2019-07-31 12:26] vtbassmatt commented on #240
Good catch. We allow string in the formal schema because it can be a `$[[ ]]` runtime expression. But a bare boolean shouldn't be an error.

[2019-08-01 12:20] vtbassmatt commented on #235
Added in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:20] #235 closed

[2019-08-01 12:21] vtbassmatt commented on #240
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:21] #240 closed

[2019-08-01 12:22] vtbassmatt commented on #234
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:22] #234 closed

[2019-08-01 12:24] vtbassmatt commented on #228
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:24] vtbassmatt commented on #224
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:24] #224 closed

[2019-08-01 12:25] vtbassmatt commented on #223
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:25] #223 closed

[2019-08-01 12:26] vtbassmatt commented on #222
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:26] #222 closed

[2019-08-01 12:26] vtbassmatt commented on #214
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:26] #214 closed

[2019-08-01 12:27] vtbassmatt commented on #219
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:27] #219 closed

[2019-08-01 12:29] vtbassmatt commented on #197
This is still broken in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0 which contains the updated language service.

[2019-08-01 12:30] vtbassmatt commented on #196
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:30] #196 closed

[2019-08-01 12:31] vtbassmatt commented on #192
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0

[2019-08-01 12:31] #192 closed

[2019-08-01 12:33] vtbassmatt commented on #188
As of https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0 this exhibits a different wrong behavior: the final `'@` line is shown with red squigglies.

<img width="216" alt="image" src="https://user-images.githubusercontent.com/714283/62293609-fd27fa00-b436-11e9-8b8a-b8f376e7bf25.png">

[2019-08-01 12:34] vtbassmatt commented on #229
Dupe of #187

[2019-08-01 12:34] #229 closed

[2019-08-01 12:36] vtbassmatt commented on #188
Oh, scratch that. There's an indentation error in the example given. But with fixed spacing, the same error persists: the remainder of the YAML file is shown as part of the script.

<img width="238" alt="image" src="https://user-images.githubusercontent.com/714283/62293811-63ad1800-b437-11e9-91de-d92a6d1ae441.png">

[2019-08-01 12:38] vtbassmatt commented on #161
As of https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.155.0 this correctly reports a "duplicate key" message.

[2019-08-01 12:38] #161 closed

[2019-08-01 14:21] s-bauer commented on #187
Supporting this is really important in my eyes! Please put this in a high priority bucket!

[2019-08-09 00:41] af4jm commented on #228
I just got the July update to 1.37, and that file still looks like my screenshot above instead of the entire line being green as the lines above & below are.

[2019-08-09 12:26] vtbassmatt commented on #228
It's not the VS Code update (1.37) that matters - it's the extension update. Can you verify what version of the extension you're running?

<img width="321" alt="image" src="https://user-images.githubusercontent.com/714283/62778800-633bff00-ba7f-11e9-969e-b1a1cd51b54c.png">

[2019-08-09 16:18] MisinformedDNA opened #243 "Create snippets"
It might be nice to add some snippets to help out with certain parts of the code. For instance, setting a variable or logging.

Here's an example I threw together:

[code]

[2019-08-09 20:52] af4jm commented on #228
1.155.0, exactly as in your screen shot
![image](https://user-images.githubusercontent.com/849948/62808444-1b8c9600-bac6-11e9-8701-e60c2ec04e1f.png)

[2019-08-12 12:27] vtbassmatt commented on #228
That's so strange, I can't repro it with the snippet I can see in your screenshot. Are you able to post the whole file someplace? Could be a Gist or even within a \`\`\` fenced block in this thread.

[2019-08-12 18:24] MisinformedDNA commented on #187
I kept thinking I was doing something wrong. :(

[2019-08-12 23:51] af4jm commented on #228
https://gist.github.com/af4jm/d25cb321d0f9d0dcbe50ac88b0f1ee71

same link is also at the bottom of the first message in this thread, hiding below the screenshot

[2019-08-13 13:46] vtbassmatt commented on #228
🤦‍♂ I literally didn't see that link until you called it out. Thanks.

[2019-08-21 08:35] SQLHorizons opened #245 "YAML Release Schema does not support deployment groups"
Having issue getting the new yaml release pipeline working with deployment groups and cannot find any documentation clarifying whether this is possible or not and would apricate some guidance.

As an alternative we have been using agent pools but unfortunately our organisations Azure DevOps configuration doesn't allow our project teams to create agent pools and this is now becoming a blocker for u

[2019-08-21 11:52] vtbassmatt commented on #245
@RoopeshNair ?

[2019-08-21 12:16] RoopeshNair commented on #245
Our plan is to enable Deployment Groups as "Environments with VM resources". YAML deployment jobs will be able to target such environments. We are actively working on it. Tentatively  4-5 months away.

[2019-08-21 20:19] jjghali opened #247 "Feature request: Consider adding Microsoft's new Terraform tasks to the schema"
It would be nice to be able to add Terraform task through this extension. The two task that would be needed are TerraformTaskV1@0 and TerraformInstaller@0.

Thanks :smiley:

[2019-09-06 17:25] codylund commented on #187
Bumping because this bug can be quite distracting for large code blocks. Are there plans to address this soon?

[2019-09-09 14:09] Thacai opened #257 "Support for "Each" Template Expression"
Currently if you do something like below, you'll "crash" the intellisense.
Since it expect "The first property must be task"

[code]

[2019-09-10 07:10] olafkfreund opened #258 "Error Message: command 'configure-pipeline' already exists"
Repro steps:

1.
2.

Action: azurePipelines.activate
Error type: Error
Error Message: command 'configure-pipeline' already exists

Version: 1.157.1
OS: win32
Product: Visual Studio Code - Insiders
Product Version: 1.39.0-insider
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-13 02:15] kzu opened #261 "Checkout step completion does not support "recursive""
Reporting separately from #214 since it was closed as fixed but I still have a repro:

![image](https://user-images.githubusercontent.com/169707/64833125-13d37c00-d5b3-11e9-9b5e-f54bb02fbd22.png)

Name: Azure Pipelines
Id: ms-azure-devops.azure-pipelines
Description: Syntax highlighting, IntelliSense, and more for Azure Pipelines YAML
Version: 1.157.3
Publisher: Microsoft
VS Marketplace Link: http

[2019-09-13 02:21] #261 closed, assigned to nobody

[2019-09-17 20:13] KevinJMC opened #262 "Upon opening application, unhelpful error message shown"
Repro steps:
1. Open VS Code in MacOS
2. Error message appears

Action: azurePipelines.activate
Error type: Error
Error Message: command 'configure-pipeline' already exists

Version: 1.157.3
OS: darwin
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-17 20:14] #262 closed

[2019-09-17 20:14] KevinJMC commented on #262
All ready reported

[2019-09-17 21:35] KevinJMC commented on #258
I have the same issue
Mac Mojave

[2019-09-19 14:15] hiyadav opened #264 "Azure-Pipeline trigger doesn't work when branch has non alphabetic characters"
If the branch on which the pipeline is configured has non alphabetic characters, then the trigger doesn't work as the mustache renderer changes while html escaping them.
Hence it gets converted like this in azure-pipelines.yaml:
orignal branch name: users/hiyada/bugFile
converted branch name: users&#x2F;hiyada&#x2F;bugFile

[2019-09-27 16:27] dotnetcanuck commented on #209
I currently use Prettier to format Azure Pipelines YAML files. Installing this extension broke that functionality. Jury is still out on whether that's a dealbreaker for me or not, but it would have been nice if the two extensions were compatible.

At the very least, when you do add support for auto-formatting, please add the ability to customize the formatting options with a config file (e.g. JSON

[2019-09-27 17:53] vtbassmatt commented on #209
Sorry about that. Are you able to switch the file over to "YAML" temporarily, run Prettier, and then switch it back to Azure Pipelines?

Click "Azure Pipelines" in the lower right:
<img width="404" alt="image" src="https://user-images.githubusercontent.com/714283/65790627-0d561000-e12e-11e9-869b-9da1f7047a6b.png">

That'll pop up a menu in the command palette:
<img width="619" alt="image" src="htt

[2019-10-02 16:16] dotnetcanuck commented on #209
@vtbassmatt That does work as a temporary solution. Thanks!

[2019-10-08 11:31] ytugarev commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/3702157/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2019-10-16 22:47] sasanmcp opened #271 "why do I have 31 warnings in a perfectly-fine YAML?"
when I open azure-pipeline.yml in web interface, everything is fine and pipeline finishes successfully. I don't get any Intellisense error or warnings.

when I use VSCode with Azure Pipeline Add-on, I get 34 warnings! mainly complaining about unexpected properties in Tasks, or missing property or so.

why is it like that?

[2019-11-13 09:02] jschwellnus92 commented on #209
Any movement on this? It's a right pain in the ass constantly switching between YAML language mode for Prettier and Azure Pipelines language mode for the tooling.

[2019-11-20 18:05] sheldonhull commented on #226
I just looked into this and am adding my +1 to this issue, as it's disruptive to validation of YAML pipelines. Is it possible to get some override option in the json at least, that would allow putting in override values for custom tasks to avoid validation errors?

[2019-11-28 11:54] adam990i opened #276 "Validation error for steps, jobs and stages when foreach specified"
If you are specifying a foreach as a first item in steps, jobs or stages, VSCode shows it as an error.
Example code:

[code]

Messages:
[code]

[2019-11-28 12:05] adam990i commented on #276
Duplicated: #257

[2019-11-28 12:05] #276 closed

[2019-12-03 04:40] denravonska opened #277 "Plugin does not recognize PipAuthenticate@1"
The plugin seems to be missing support for v1 of PipAuthenticate. v0 works fine.

[2019-12-03 21:18] cege7480 opened #278 "Error whenever VSCode loads."
Repro steps:

1. Open Visual Studio Code
2.

Action: azurePipelines.activate
Error type: Error
Error Message: command 'configure-pipeline' already exists

Version: 1.157.4
OS: win32
Product: Visual Studio Code
Product Version: 1.40.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-05 14:42] AgusLucas opened #279 "Report"
Repro steps:

1.
2.

Action: azurePipelines.activate
Error type: Error
Error Message: command 'configure-pipeline' already exists

Version: 1.157.0
OS: win32
Product: Visual Studio Code
Product Version: 1.38.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-12-06 13:12] Trim21 opened #280 "add support `Cache@1` and `Cache@2` and `PublishBuildArtifacts@1`"
I'm using json schema from master branch in pycharm not vacode.

according to <https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops> is `Cache@2` now.

And it seems that `inputs.resotreKeys` is not supported either.

![image](https://user-images.githubusercontent.com/13553903/70325438-ee31d800-186c-11ea-92cf-cd70eb574f00.png)

from vscode
![image](https://user-images.

[2019-12-09 10:57] ChrisGibson1982 opened #281 "Unexpected Property PWSH"
When i specify that an Azure PowerShell task should use PowerShell Core, it is flagged in vsCode as a warning.  Pasting the below test yaml shows the warning "Unexpected property pwsh"

trigger: none
stages:
- stage: Deployment
  jobs:
  - job: deploy
    timeoutInMinutes: 240
    pool: 'windows-latest'

    steps:

      - task: AzurePowerShell@4
        inputs:
          azureSubscription: 'Azur

[2019-12-14 06:36] noce2 opened #282 "Extension does not recognise `AzureCLI@2` task"
I get the following warnings from the extension when I use the AzureCLI@2 task in my .yml:

![image](https://user-images.githubusercontent.com/20339399/70844630-ec06e500-1e3b-11ea-9d64-7c85517557e3.png)

[2019-12-31 06:58] tebeco commented on #215
@sstryhalaleck
can you fix the [Wiki link to this one](https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load)
it seem there's a `:` in the middle of the given one

[2020-01-01 15:44] MarkIannucci opened #283 "Intellisense warns `Incorrect Type. Expected Object` when you define parameters datatypes at the top of a template even though the template works when used within a pipeline"
When using the vscode azure devops pipelines extension to write my multi-stage yaml files, I noticed that if I define parameters as described in the [templates documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#passing-parameters), I get an inaccurate intellisense problem:

![image](https://user-images.githubusercontent.com/16762974/71634259-

[2020-01-03 02:48] a30001539 opened #285 "AzureKeyVault@1 task, SecretsFilter property, YAML schema incorrect"
Schema says property takes an enum, it takes a string.

Fixed in [PR #284](https://github.com/microsoft/azure-pipelines-vscode/pull/284)

[2020-01-03 08:02] collinstevens commented on #209
Also a pain to deal with this. I tried to configure the default formatter for azure-pipelines, but it just spat out no formatter installed... Is this on a roadmap to resolve?

`
{
    "files.associations": {
        "**/pipelines/**/*.yml": "azure-pipelines",
    },
    "[azure-pipelines]": {
        "editor.defaultFormatter": "redhat.vscode-yaml"
    }
}
`

[2020-01-05 11:13] a30001539 commented on #282
See [PR #287](https://github.com/microsoft/azure-pipelines-vscode/pull/287)

[2020-01-11 15:01] leriksen commented on #281
see PR [288](https://github.com/microsoft/azure-pipelines-vscode/pull/288)

[2020-01-12 06:20] leriksen commented on #280
See [PR #289](https://github.com/microsoft/azure-pipelines-vscode/pull/289)

[2020-01-12 06:43] leriksen commented on #277
See [PR 290](https://github.com/microsoft/azure-pipelines-vscode/pull/290)

[2020-01-12 11:09] tdi commented on #230
I think schema does not allow for `pool` definition in root level either right? I am running validation agains the schema for the following document:

[code]

And it breaks on pool. In the schema there is not satisfying definition for this. I think this is related.

[2020-01-13 13:19] vtbassmatt commented on #230
`pool` is only valid within a job, not at the root.

[2020-01-13 13:39] tdi commented on #230
@vtbassmatt yes it works at the root and also documentation states:

```You can specify a pool at the pipeline, stage, or job level. The pool specified at the lowest level of the hierarchy is used to run the job.```

https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema

[2020-01-13 13:47] vtbassmatt commented on #230
My mistake - I had asked for that feature a long time ago and didn't think we had pushed it through yet :grin:

[2020-01-16 13:16] zahirally opened #291 "Support for Extends keyword"
Azure DevOps recently introduced a new keyword named extends that is flagged as an Unexpected property.  In addition, this keyword allows an pipeline to no longer require a mandatory "Stages" section (which may be in the extended file), thus having a 'Missing property "stages"' validation message is incorrect.

https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-162-update#use-

[2020-01-16 14:32] vtbassmatt opened #292 "Suggestion: transform variable formats"
Tool to translate:

[code]

to:

[code]

[2020-01-16 14:33] vtbassmatt opened #293 "Suggestion: templatize a pipeline"
Scan a pipeline, extract variables to parameters to turn it into a template.

[2020-01-17 13:00] Igmat commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4076889/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-01-23 11:56] pokorm commented on #103
Hi @vtbassmatt, are there any updates related to this feature? I guess, [this](https://github.com/Microsoft/vscode/issues/1751) is the main blocker now. Am I right..?

[2020-01-23 13:28] vtbassmatt commented on #103
The main blocker is time and attention, unfortunately. We've been focused on other areas and haven't had time to improve the extension.

[2020-01-29 13:50] ncustomer2012 opened #297 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.165.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-01-29 13:51] ncustomer2012 commented on #297
https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FMicrosoft%2Fazure-pipelines-vscode%2Fissues%2Fnew%3Fbody%3D-%2520Issue%2520Type%3A%2520%2560Bug%2560%250A-%2520Extension%2520Name%3A%2520%2560azure-pipelines%2560%250A-%2520Extension%2520Version%3A%2520%25601.165.1%2560%250A-%2520OS%2520Version%3A%2520%2560Windows_NT%2520x64%252010.0.18363%2560%250A-%2520VSCode%2520version%3A%2520%25601

[2020-02-03 21:00] ChrisMc4 opened #298 "Linting Support for Expressions as Steps"
When I make a template call dependent on a conditional expression, the pipeline executes correctly, but the linting indicates that there is an error.

Snippet:
[code]

Error:
![image](https://user-images.githubusercontent.com/57373301/73690370-2eaba780-469e-11ea-9eb9-61ebe00699af.png)

[2020-02-07 02:54] fcaraujo commented on #283
Experiencing the same. Subscribing for good news. :)

[2020-02-11 09:32] pokorm commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4184876/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-02-11 10:59] ItayPodhajcer commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4185262/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-02-11 20:34] ivcarreras opened #299 "If-statement hightlighted even though it works in the pipelines"
The extension always expects a task as the first property even though the Azure Devops pipelines accept if statement blocks.

This example runs without any issues in my pipeline yet the extension highlights it as an issue:
- ${{ if eq(parameters.includeReleaseTemplates, true) }}:
  - task: CopyFiles@2
    displayName: 'Copy release files to $(build.artifactstagingdirectory)\dotnetPublish'
 ...

[2020-02-14 14:10] martinohansen commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4204770/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-02-14 20:19] dacarab commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4206627/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-02-21 07:39] sderungs commented on #283
Experiencing the same issue with the following environment:
Version: 1.42.0 (system setup)
Commit: ae08d5460b5a45169385ff3fd44208f431992451
Date: 2020-02-06T10:51:34.058Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363
Extension ms-azure-devops.azure-pipelines: 1.165.1

[2020-02-21 13:26] smkanadl commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4236236/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-02-21 14:11] Ryguy1979 commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4236411/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-02-26 21:12] fluffy-cakes commented on #283
ditto
[code]

[2020-03-10 00:48] krissmilne commented on #283
I can confirm I'm experiencing the same problem when creating templates.

Disabled the extension for now.

[2020-03-10 23:07] Leon99 opened #300 "Region folding works incorrectly with commented lines"
Once a line inside a region is commented, the region won't fold past that line - only the part before the commented line is folded. In the example below, level23 will remain unfolded on folding level1:
[code]

[2020-03-11 21:29] nickrandolph commented on #98
Totally need this!!! Installed the extension, opened a working template and bam, syntax errors:
![image](https://user-images.githubusercontent.com/1614057/76466334-9098c300-643b-11ea-86ea-78f8525066e1.png)

[2020-03-24 13:19] nicko100 opened #301 "ms-azure-devops.azure-pipelines extension took long time to load !"
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4375439/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-03-25 13:24] jgn-epp commented on #283
This is still an issue 😥

[2020-03-25 18:13] olevenkov-s opened #302 "issue"
Repro steps:

1.
2.

Action: azurePipelines.activate
Error type: Error
Error Message: command 'configure-pipeline' already exists

Version: 1.165.1
OS: darwin
Product: Visual Studio Code
Product Version: 1.43.2
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-03-29 23:25] rodrigodosanjosoliveira commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4400121/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-03-30 19:03] ggirard07 opened #303 "New readonly variables not supported by linter"
The current extension version report the [new `readonly` keyword](https://docs.microsoft.com/en-us/azure/devops/release-notes/2020/sprint-164-update#read-only-variables) as an unsupported property.

![image](https://user-images.githubusercontent.com/2625886/77951109-8843e300-7297-11ea-80c7-41d3baa285d9.png)

[2020-04-01 11:48] templafymek commented on #226
Any update on this?

[2020-04-01 11:48] wiruzman commented on #226
Any update on this?

[2020-04-01 13:04] dwilsonbst commented on #299
Seconding this, i get a highlighting error that states "The first property must be task" when using an if statement to conditionally include a task/template.

[2020-04-01 19:31] roblourens opened #304 "Use a debug port other than 6009"
This is just a suggestion, but while debugging an extension sample from https://github.com/microsoft/vscode-extension-samples, I realized that I was attaching to the server process from this extension instead of the sample, because it uses the same debug port. It might be good to pick a different port for your extension to avoid collisions with other extensions or samples.

[2020-04-05 04:17] deadlydog opened #305 "Azure Pipelines VS Code extension takes a very long time to load"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.165.1`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.43.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

I'm not sure if this is a bug, but rather a performance enhancement request. Among my 66 installed VS Code extensions, Azure Pipelines is by far alw

[2020-04-06 18:25] snickler opened #307 "Any reason for not utilizing azure-devops-node-api?"
I'm currently working on adding another call to the Azure DevOps REST API that happens to require a PAT. Upon my infinite searching, I realized that the Azure Repos VSCode Extension uses PATs and utilizes the azure-devops-node-api.

It seems that many of the REST calls manually implemented are already done in the node api, which makes it duplicative from the azure pipelines side.

[2020-04-08 16:27] itsaazim opened #308 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.165.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.44.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-04-11 08:49] neville-nazerane commented on #187
I am facing this as well. Any progress?

When I use something to the similar to the above mentioned `- ${{ each configuration in parameters.configurations }}:`, I get "first property needs to be a task"

Now I do this:

- ${{ each configuration in parameters.configurations }}:
  script: 'echo ${{ configuration }}'

There is a red line on the first line. But this wouldn't run. So, I fix it with the

[2020-04-13 12:39] vtbassmatt commented on #187
I'm sorry to report that we haven't made any improvements here. It's still on my radar but continues getting starved by other projects.

[2020-04-15 08:54] jmaragon commented on #283
Experiencing the same as of today....

[2020-04-17 11:08] TanmayDharmaraj commented on #283
Is there any update on this?

[2020-04-17 18:49] winstonhenke commented on #283
I see this issue on Windows but not MacOS

[2020-04-17 23:25] Dejulia489 commented on #283
This is still an issue on windows.

azure-pipelines | ms- | 1.165.1
-- | -- | --

[2020-04-19 16:06] denisyuzo opened #310 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.165.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.44.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-04-20 01:34] Sirlupinwatson1 opened #311 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.165.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.44.2`

[code]

#311

[2020-04-21 06:28] jsburckhardt commented on #283
Weird, I'm having the same issue in MacOS
macOS Mojave 10.14.6
VScode: March 2020 (version 1.44)
Azure Pipelines extension: 1.165.1
[code]

[2020-04-21 10:37] m-v-k commented on #299
i have the same problem in my azure-pipelines.yml
maybe syntax highlighting is correct on templates only and not in entry pipeline yml?
variables:
- ${{ if .... }}:

[2020-04-21 10:40] m-v-k opened #312 "parameters in main/entry pipeline yml give warnings"
declaring parameters in the azure-pipeline.yml give warnings, while they are correct according the documentation and also work as expected.
please fix the linting syntax warning issue.

[2020-04-21 12:41] winstonhenke commented on #283
@jsburckhardt I updated my comment 🤦 I do see the issue on MacOS

[2020-04-22 12:09] json-derulo commented on #298
Duplicate of #187 ?

[2020-04-27 03:28] adiun commented on #209
Yeah, it would be great to have this extension play nice with formatters like `prettier`.

For now I'm running the Prettier CLI as a [VSCode task](https://code.visualstudio.com/docs/editor/tasks). You can run this through the command palette -> `Run Task`.

You can also add a keybinding for this custom task or do something fancier with [Prettier's watch capabilities](https://prettier.io/docs/en/wa

[2020-04-29 04:43] ehanlon commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4549804/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-05-01 12:39] ringoc commented on #283
Confirm same issue in MacOS

[2020-05-08 03:55] qbikez commented on #58
Just for reference, here's the schema endpoint: https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/yamlschema/get?view=azure-devops-rest-5.1

[2020-05-08 22:10] JustinGrote commented on #312
Here's an example:
![image](https://user-images.githubusercontent.com/15258962/81453307-108e9100-913e-11ea-9bb4-99e3a27d6b27.png)

[2020-05-09 21:58] leandroshan opened #315 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.165.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.45.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-05-13 07:17] christofer-ja commented on #283
Still experiencing this issue on Windows

ms-azure-devops.azure-pipelines
Version: 1.165.1

[2020-05-13 17:06] awentzel opened #316 "Question: Is this Extension compatible with GitHub Actions"
GitHub Actions runs ADO in the backend, as a result, can this be used on GitHub Actions as well?  If not, is there another solution that can be used for locally testing Actions?

[2020-05-15 11:06] Yu-457 commented on #187
Hey, any news /  roadmap on this one? It would be great if this could be fixed soon

[2020-05-15 12:07] vtbassmatt commented on #187
We're looking into when we can fund it. Now that template parameters and other template-using features have gathered some steam, the current behavior is becoming less and less defensible.

[2020-05-18 09:59] FWinkler95 commented on #187
Thank you very much

[2020-05-19 16:39] vtbassmatt commented on #316
It's not, sorry. The GitHub Actions front-end has diverged quite a bit from the Azure Pipelines front-end. (Though you're correct, the runtime engine and hosted machines are powered by the same code.)

I believe GHA has rich editing built into their online editor. Not sure about offline options.

[2020-05-19 16:39] #316 closed

[2020-05-19 16:40] vtbassmatt commented on #307
No particular reason. I suspect the developers who added REST calls to the extension weren't aware of azure-devops-node-api.

[2020-05-19 16:40] #307 closed

[2020-05-19 16:41] vtbassmatt commented on #291
This should be fixed, sorry I haven't been on top of closing issues lately!

[2020-05-19 16:41] #291 closed

[2020-05-19 16:41] vtbassmatt commented on #282
Should be fixed now.

[2020-05-19 16:41] #282 closed

[2020-05-19 16:42] vtbassmatt commented on #280
Should be fixed now.

[2020-05-19 16:42] #280 closed

[2020-05-20 11:26] vtbassmatt commented on #247
By default the extension only shows in-box tasks. However, I'm about to add a feature which will allow you to grab your own schema. So if you have these tasks installed, you can get a schema that includes them. 🎉

[2020-05-20 11:53] #312 closed

[2020-05-20 19:10] JustinGrote opened #320 "Schema Constantly Reloading"
Issue Type: <b>Bug</b>

As of the new extension version, I am getting this notice on every reload, I assume this was caused by #317

![image](https://user-images.githubusercontent.com/15258962/82487126-c8069a00-9a92-11ea-95e5-e9c5e3bc105b.png)

Extension version: 1.170.0
VS Code version: Code - Insiders 1.46.0-insider (da3bf754c3c0eabda1dc80ed9d627679ee560697, 2020-05-19T10:07:59.927Z)
OS version:

[2020-05-20 21:53] jjghali commented on #247
Issue is not needed anymore. Will close it.

[2020-05-20 21:53] #247 closed

[2020-05-21 16:11] simondmorias commented on #320
Constantly happening for me as well (non insiders build):
Version: 1.45.1 (user setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

[2020-05-22 06:43] neville-nazerane commented on #187
@FWI-95 the following has the same issue too

[code]

[2020-05-22 11:01] brvaland commented on #320
It is constanstly happening to me as well vs code version 1.45.1 (user setup).

[2020-05-24 12:32] Larswa commented on #320
Yeah ... same here ... looks like this commit introduced a listener on the workspace configuration, that triggers this.  See line 93 in extension.ts.  Yeah ... someone more clever than me could probably link to the line.

https://github.com/microsoft/azure-pipelines-vscode/commit/62ee334744e55ad734ecfe71b5b45f977bf6de5c

`vscode.workspace.onDidChangeConfiguration`

Not sure what is doing the trigg

[2020-06-02 12:13] merddyin commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4717014/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-06-02 14:27] escalonn commented on #215
it is nutty this issue has received no acknowledgement after over a year

[2020-06-02 14:43] vtbassmatt commented on #215
Acknowledged. We believe the solution is to `webpack` the extension, but the base YAML language server has some kind of brittle dependency which breaks `webpack`ing. We've also never been able to get a repro on our side - I think it's highly system and system-load dependent. I apologize, and we hope to get to the bottom of these eventually.

[2020-06-03 03:56] iainwlg commented on #299
Happens with 'each' too.

[2020-06-04 02:56] damienmci commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4727224/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-06-04 18:59] augustoproiete commented on #320
I'm experiencing this issue as well, both on OSX and on Windows. This notification keeps popping up several times day:

![image](https://user-images.githubusercontent.com/177608/83799541-57f43880-a67c-11ea-81a5-668147b7c4e2.png)

[2020-06-05 06:26] loicwolff commented on #320
For those who don't need any feature in the latest update, you can rollback to a previous version easily in VS Code until they fix this. Version `1.165.1` doesn't have this problem.

![image](https://user-images.githubusercontent.com/20514/83843739-eeb90780-a705-11ea-9323-24a1387ae2c6.png)
![image](https://user-images.githubusercontent.com/20514/83843781-06908b80-a706-11ea-98be-7c4b509a9d07.png)

[2020-06-08 17:56] abhijithsnair opened #321 "configure-pipeline already exists issue - VS Code"
Repro steps:

1.
2.

Action: azurePipelines.activate
Error type: Error
Error Message: command 'configure-pipeline' already exists

Version: 1.170.0
OS: win32
Product: Visual Studio Code
Product Version: 1.45.1
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-06-10 11:35] DerGary commented on #299
I have the same Problem:
![image](https://user-images.githubusercontent.com/4302467/84263153-3e8d3980-ab1f-11ea-8f77-7db40ba9dfb9.png)

[2020-06-16 09:21] Denisnjeru opened #322 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.165.1`
- OS Version: `Linux x64 5.4.0-37-generic`
- VSCode version: `1.45.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-06-16 17:02] Ravimama opened #323 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.170.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.46.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-06-17 19:26] kazinad commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4794687/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-06-21 03:19] tecnojp opened #324 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.170.0`
- OS Version: `Windows_NT x64 10.0.20150`
- VSCode version: `1.46.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-06-23 22:09] kilasuit opened #325 "Outline in VSCode should show better details"
Outline in VSCode can be incredibly useful in navigating larger yaml file

However the below is effectively useless & whilst I don't know if this is something that the extension can tie into better like how PowerShell does it or other languages do too

![image](https://user-images.githubusercontent.com/6355225/85470089-762bc500-b5a6-11ea-92ea-ff27c5da8d7b.png)

[2020-06-23 23:01] BillzGitHub opened #326 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.170.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.46.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-06-24 10:11] Gimly opened #327 "[azure-pipelines].customSchemaFile use relative path"
I'm trying to modify a workspace-shared `.vscode/settings.json` to share the custom schema for the YAML pipelines with my team using the `[azure-pipelines].customSchemaFile` configuration setting, but using a relative path doesn't seem to work.

Using the full path is not a good solution for a shared workspace config since the project might be cloned to a different path.

[2020-06-25 17:14] devhawk opened #328 ""Azure Pipelines schema changed. Restart VS Code to see the changes." window"
Every time I launch VSCode, I get a info window pop up telling me to restart VS Code.

![image](https://user-images.githubusercontent.com/8965/85766964-64444200-b6cc-11ea-9018-c6b6474e2dfe.png)

Extension Info:
Name: Azure Pipelines
Id: ms-azure-devops.azure-pipelines
Description: Syntax highlighting, IntelliSense, and more for Azure Pipelines YAML
Version: 1.170.0
Publisher: Microsoft
VS Marketpl

[2020-06-25 17:35] RudySchockaert commented on #215
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/4832935/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2020-06-26 09:46] kieronlanning commented on #328
I'll get this multiple times in a single session, not just when I open VS Code.

[2020-06-26 09:48] covertbert commented on #328
It's been like this for months now, very annoying.

[2020-06-28 19:50] mprather commented on #215
I just ran in to this problem. Then looking at the log files that have been previously uploaded (as well as mine) I noticed that full paths are recorded in the log file. This is potentially a pii leak or otherwise divulges other info about the host system (i.e. what drives are available, install location, or project names, etc). Shouldn't the paths in these type of reports be scrubbed/generalized

[2020-06-29 12:54] vtbassmatt commented on #215
@mprather it's probably not super clear to an end user, but our extension is not the one asking for these files to be uploaded. (In fact, I'm not currently staffed to even look at these. We did investigate the first few which came in, but couldn't repro.)

The request is coming from [VS Code](https://github.com/microsoft/vscode) itself. I looked and didn't see an issue about it there, so you might

[2020-06-30 01:11] e-xe commented on #328
Same here 😥

[2020-07-06 08:23] OI-nikhilkenvetil opened #329 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.170.0`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.46.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-07-06 08:24] #329 closed

[2020-07-06 19:17] cdudley-oncore commented on #187
Adding my voice to the chorus as we need this very much. Thanks!

[2020-07-06 19:21] amrock-my opened #330 "Incorrect type. Expected "string" when using a boolean value"
Our YAML file begins as so:

[code]

This extension complains about the usage of `batch: true`: _Incorrect type. Expected "string"_. The pipeline still works, and I worry that if I use `"true"` instead of `true` that it might be treated as a scalar value, in which case `"false"` will still evaluate to `true`.

Even the [documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-sc

[2020-07-07 18:36] dfoverdx commented on #328
It happens for me every time I change a user or workspace setting.

[2020-07-10 08:28] jwikman commented on #271
Probably a dupe of #187 ? Do you use template expressions?
Quite annoying, I know...

[2020-07-16 08:55] mdschweda commented on #328
I have come to accept this popup message as part of the application, secretly hoping for something like Adblock Plus for VS Code in the future. Some actions that make this message appear:

- Settings changed (user + workspace)
- Tasks changed
- Debug configuration
- Extension added / removed / disable / enable
- Blinking

[2020-07-16 18:29] fgbaezp commented on #328
+1 here too, waiting anxiously for #331 to be merged :)

[2020-07-16 19:26] nickpainter opened #333 "Extension issue - Very Bad performance"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.170.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.1`

[code]

[2020-07-18 04:03] Oceanswave opened #335 "Azure Pipelines Schema gives incorrect warnings"
It appears that service-schema.json is not up-to-date with the latest options available in Azure Pipelines and incorrectly gives an error when utilizing what are valid Azure Pipelines task names and options.

Since the schema file is contained on the [schema store](https://www.schemastore.org/json/), when using the [Yaml VSCode addin](https://github.com/redhat-developer/vscode-yaml) with any recen

[2020-07-20 10:19] mfdeveloper commented on #327
I'm agree with you!! I've got the exatly same problem :(

[2020-07-20 13:10] michaelmairegger commented on #327
Wouldn't it be a good idea to support online uri `https://dev.azure.com/YOU-ORG-HERE/_apis/distributedtask/yamlschema` too?

[2020-07-20 15:06] mfdeveloper commented on #327
@michaelmairegger The only problem with this is network delay for autocomplete. Maybe this plugin could download the schema file for some user home folder, can be a good approach.

I think that have the both options (remote url or relative path) will be a complete feature 😃

[2020-07-21 03:07] DanJ210 commented on #215
I'm getting this issue also. So is the statement above saying that this is an issue that can't be found or solved? I'm shown that the azure-pipelines extension has caused other extensions from running.

[2020-07-21 10:18] vtbassmatt commented on #215
Unable to repro the issue on my end 😞 which makes it challenging to debug.

[2020-07-22 11:42] MWL88 opened #336 "The recommended TSLint extension is deprecated"
The TSLint extension recommended for this repo (in `.vscode\extensions.json`) is deprecated.

The deprecated extension's description states which extension to use instead ([vscode-typescript-tslint-plugin](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin)).

[2020-07-23 13:56] svcpowerbi opened #338 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.170.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.2`
-------------------------------

[code]

[2020-08-03 08:55] malikimran34 commented on #338
Azure Pipelines schema changed. Restart VS Code to see the changes.

What is causing it if anyone knows?

[2020-08-05 13:08] lijo2 commented on #328
+1 same here

[2020-08-06 19:42] Pluc15 commented on #327
With proper caching and http cache headers to only update when there is a new version, network delays to fetch the schema online should not be a problem. I love the idea.

[2020-08-06 19:47] oising commented on #327
@pluc15 Great idea.

[2020-08-10 17:34] yputter commented on #328
+1 same here as mdschweda

[2020-08-12 13:48] pschaeflein commented on #328
For folks who don't want to wait, you can patch your local installation. The PR has a single change to the extension.

- Navigate to the [Extensions folder](https://code.visualstudio.com/api/working-with-extensions/publishing-extension#your-extension-folder)
- Navigate to folder `ms-azure-devops.azure-pipelines-1.170.0\out`
- Open file `extension.js`
- Locate the `onDidChangeConfiguration` event h

[2020-08-13 16:01] dave-yotta opened #341 "Completion does not work"
![image](https://user-images.githubusercontent.com/41444963/90158051-65b5f080-dd86-11ea-9bc5-7b2d932586d1.png)

I have selected "Azure Pipelines" in the bottom left there, but pressing "ctrl+space" does not give me valid suggestions for the step "template".  It's got that "abc" icon, possibly it hasn't loaded properly.  Have restarted vscode a few times.

[2020-08-18 07:02] Annant05 commented on #283
Same issue with me.

Incorrect type. Expected "object".

When I change the file name the error is not thrown.
Very nasty issue.
![error](https://user-images.githubusercontent.com/21981463/90481102-d4ac9400-e14e-11ea-9edf-63d1f323401c.png)
![filenamechange](https://user-images.githubusercontent.com/21981463/90481105-d5452a80-e14e-11ea-85d7-e6af488d796e.png)

[2020-08-18 09:04] staedter opened #342 "Azure Pipelines on DevOps Server"
Is this extension compatible with .yaml files for on Prem Azure DevOps Server Pipelines?

If so, how does one us it? ;)

[2020-08-18 13:54] vtbassmatt commented on #283
@Annant05 that's not an Azure Pipelines YAML file you're showing in your screenshots - I don't think that's related to this bug.

Others - looks like a new schema will fix this. Preparing that now.

[2020-08-18 14:21] vtbassmatt commented on #283
Fixed in https://github.com/microsoft/azure-pipelines-vscode/releases/tag/v1.174.0

[2020-08-18 14:37] #328 closed

[2020-08-18 14:37] #327 closed

[2020-08-18 14:37] #336 closed

[2020-08-18 15:46] vtbassmatt commented on #342
The in-box schema is for the hosted service, which changes over time. But you can use the new custom schema feature and grab a copy of your version of the schema from: https://your-server/your-collectionn/_apis/distributedtask/yamlschema

[2020-08-18 15:46] #342 closed

[2020-08-18 15:47] vtbassmatt commented on #341
I've had that happen with several extensions before, but never really got to the bottom of it :( You might try uninstalling/reinstalling.

[2020-08-18 15:48] vtbassmatt commented on #335
I've updated to the latest schema in 1.174.1. And sorry - I need to remove that schemaStore integration. It's not helpful at all.

[2020-08-18 15:48] #335 closed

[2020-08-18 15:51] extellior opened #345 "The path argument must be of type string. Received type object"
Repro steps:

1. Start VS Code.  Error message happens before even opening any project folder.

Action: azurePipelines.activate
Error type: ERR_INVALID_ARG_TYPE
Error Message: The "path" argument must be of type string. Received type object

Version: 1.174.1
OS: win32
Product: Visual Studio Code
Product Version: 1.48.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-18 16:19] kevin-biebuyck opened #347 "he "path" argument must be of type string. Received type object"
Repro steps:

1.
2.

Action: azurePipelines.activate
Error type: ERR_INVALID_ARG_TYPE
Error Message: The "path" argument must be of type string. Received type object

Version: 1.174.1
OS: win32
Product: Visual Studio Code
Product Version: 1.48.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-18 17:19] SIMONNDONGA opened #348 "Vscode"
Repro steps:

1.
2.

Action: azurePipelines.activate
Error type: ERR_INVALID_ARG_TYPE
Error Message: The "path" argument must be of type string. Received type object

Version: 1.174.1
OS: win32
Product: Visual Studio Code
Product Version: 1.48.0
Language: en

<details>
<summary>Call Stack</summary>

[code]

</details>

[2020-08-18 19:52] vtbassmatt commented on #348
Fixed in 1.174.2, sorry for the trouble 😞

[2020-08-18 19:52] #348 closed

[2020-08-18 19:52] vtbassmatt commented on #347
Fixed in 1.174.2, sorry for the trouble 😞

[2020-08-18 19:52] #347 closed

[2020-08-18 19:52] vtbassmatt commented on #345
Fixed in 1.174.2, sorry for the trouble 😞

[2020-08-18 19:52] #345 closed

[2020-08-18 19:54] vtbassmatt commented on #323
This seems to be related to the `ms-vscode.powershell` extension, not `azure-pipelines`.

[2020-08-18 19:54] #323 closed

[2020-08-18 19:54] vtbassmatt commented on #322
Not enough info to take action

[2020-08-18 19:54] #322 closed

[2020-08-18 19:55] vtbassmatt commented on #310
Not enough information to take action

[2020-08-18 19:55] #310 closed

[2020-08-18 19:55] vtbassmatt commented on #308
Not enough info to take action

[2020-08-18 19:55] #308 closed

[2020-08-18 19:56] vtbassmatt commented on #302
Can't repro this. Feel free to reactivate if this still repros for you on 1.174+.

[2020-08-18 19:56] #302 closed

[2020-08-18 19:57] vtbassmatt commented on #297
Not enough info to address

[2020-08-18 19:57] #297 closed

[2020-08-18 19:58] vtbassmatt commented on #338
@malikimran34 that's a separate issue and has been addressed in 1.174+.

[2020-08-19 08:20] dave-yotta commented on #341
Wow that actually fixed it.

Ok fair enough, this can also be considered a problem with VSCode I'll open a bug there too.  Not sure if this can be fixed here in this extension or not.

[2020-08-19 10:55] dave-yotta commented on #341
Ok looks like it's with you guys ¯\_(ツ)_/¯

[2020-08-19 12:41] vtbassmatt commented on #341
Lol. Their bot can claim it's "caused by an extension" but I have no way to repro, troubleshoot, or track down why it's happening. If you see it again and have any ideas, feel free to reactivate, but there's no action I can currently take 😞

[2020-08-19 12:41] #341 closed

[2020-08-25 16:20] anporumb opened #349 "Squigglies when job name is parametrized"
Given the following snippet of a job template:

[code]

The line with "-job" produces squigglies. This is incorrect.

![image](https://user-images.githubusercontent.com/9283365/91200489-150e9380-e6b4-11ea-8915-531df626e181.png)

Here's an example in MSDN that uses the exact same https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#job-stage-and-step-templates

[2020-08-28 09:18] rduboi commented on #283
@vtbassmatt I'm using v1.174.2 and still experiencing the issue.
![image](https://user-images.githubusercontent.com/10159218/91544338-dda41f00-e91f-11ea-8eb8-9026ec812371.png)
![image](https://user-images.githubusercontent.com/10159218/91544511-2360e780-e920-11ea-9e6e-146800e512e8.png)

I tried to restart VS Code and stuff, but nothing works. Did I miss something ?

[2020-08-28 12:04] GauravSquareOps opened #350 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.174.2`
- OS Version: `Linux x64 5.4.0-7642-generic`
- VSCode version: `1.48.2`

[code]

[2020-08-28 13:37] vtbassmatt commented on #283
Well boo to that. I can't repro here - @rduboi would you be able to send me an uncensored version of your pipeline? I'm a GitHub employee so you can very likely decipher my work email address 😋

[2020-08-28 14:56] hermanpotgieter opened #351 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.174.2`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.48.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-08-31 07:24] rduboi commented on #283
@vtbassmatt Sure I can send you an example if you want, but honestly, that's a really simple template. Nothing particular here.
The steps to reproduce what I did:

1. Create a template-xxx.yml file under a folder in the git repo, such as Build/build-project.yml
2. CTRL + Shift + P => Chose language mode => Azure pipelines
3. All parameters are underlined, with the error message (for the screenshot

[2020-08-31 12:58] vtbassmatt commented on #283
The reason I wanted your exact steps is, as I said - doesn't repro for me:
<img width="607" alt="image" src="https://user-images.githubusercontent.com/714283/91722308-0e769500-eb68-11ea-8b18-406d0bf57b32.png">

(The single-character yellow squiggle is because I've not disambiguated between `stages`, `jobs`, or `steps` yet, and it disappears as soon as I add one of those.)

[2020-08-31 12:59] vtbassmatt commented on #283
Oh, @rduboi, one thought - did you install a custom schema? If so, you may need to grab a new version of it.

[2020-08-31 13:25] rduboi commented on #283
Yup, I reinstalled the custom schema with new file name to be sure but still the same behavior. I am getting the schema from Azure DevOps SERVER 2019. Maybe that's the problem ?

[2020-08-31 13:50] vtbassmatt commented on #283
@rduboi OH, yes, that's exactly why. Server 2019 doesn't allow the object version - we shipped that after Server 2019 branched for release. So in your case, the extension is correctly telling you that it's illegal syntax :)

[2020-08-31 13:50] #283 closed

[2020-09-02 16:40] CasP0 opened #353 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.174.2`
- OS Version: `Windows_NT x64 10.0.14393`
- VSCode version: `1.49.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-09-02 16:40] CasP0 commented on #353
https://github.com/microsoft/azure-pipelines-vscode/issues/353#issue-691181832

[2020-09-07 04:58] ffilardi opened #354 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.174.2`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.48.2`

[code]

[2020-09-21 05:09] munishgoyal1 opened #356 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.174.2`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.49.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-09-23 08:26] malikimran34 opened #357 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.174.2`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.49.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-10-01 10:50] andydix commented on #299
If the fix proposed by @demings back in April isn't the fix, does anyone know what is?

[2020-10-06 17:14] worming004 opened #358 "Intellisense not working"
Hellow

With v174.x.x, I lost the intellisence ability in azure-pipline.yml.
1.65.x is working well, I could use ctrl+space to see propositions

FYI, here is my partial stack trace found.

[code]

I've tried multiple reinstall, it didn't change anything.

[2020-10-06 22:53] myermian opened #359 "Feature Request: Support the azurepipelines-coverage.yml schema"
Is it possible to implement support for the `azurepipelines-coverage.yml` schema?

[2020-10-09 00:41] myermian opened #360 "Extension gives invalid problem: Incorrect type. Expected "boolean" when a boolean parameter is used"
[code]

My YAML template accepts a parameter named `allowconflicts`, which is specified as type `boolean`, but the extension still reports a problem.

[2020-10-09 19:49] #358 closed

[2020-10-14 20:38] hamjo opened #361 "Variable templates"
When creating a template file for variables, the linter shows the warning in the image

![image](https://user-images.githubusercontent.com/11891027/96042517-84df0600-0e3b-11eb-88da-7b27b00f6005.png)

It would be nice if variable templates were supported just like described [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#variable-reuse)

[2020-10-16 08:04] bytemech commented on #187
Would be great to have this fixed!

[2020-10-17 03:20] 50Wliu commented on #215
After a bit of investigation and following the require hierarchy, it looks like for me the two biggest offenders are `vscode-azureextensionui` (expected) and `azure-arm-websites` (not expected!).

v0.36.0 of vscode-azureextensionui lazy loads dependencies, but even when using that version, the require is still a little sluggish. Not too sure what else can be done about that, though.

The azure-arm

[2020-10-20 13:16] 50Wliu opened #364 "Activation time: evaluating the usefulness of azureextensionui"
`vscode-azureextensionui` is a pretty heavy package on my laptop. 0.36.0 of that package has significant activation improvements, but it's by no means an easy upgrade: the telemetry reporting has been fundamentally revamped between 0.26.3 and 0.36.0.

That led me to two questions:
1. Why does a UI package offer telemetry reporting?
2. _What are we even using `azureextensionui` for?_

Well, while I

[2020-10-20 13:38] vtbassmatt commented on #364
I think some of the "set up your CD pipeline" stuff that a sister team added may have depended on - or intended to depend on in the future - UI components. @hiyadav or @pulkitaggarwl might remember better than I do.

[2020-10-21 13:09] rathga commented on #257
+1
Literally just installed the extension to get intellisense and immediately got this problem.  So 30 seconds in and it's 90% useless for my use case...  Would be nice to fix

[2020-10-28 19:47] mgexm commented on #209
I just loaded the [VSCode prettier formatter extension](https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode) and then hooked it up through settings.json

    "[azure-pipelines]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },

Then the "format on save" started working.

[2020-10-28 19:50] vtbassmatt commented on #209
@mgexm does that also make Command Palette > Format Document work?

[2020-10-28 20:02] dotnetcanuck commented on #209
@vtbassmatt Yes, it does!

I've had my own VSCode configured that way for a while...I don't know if I found the solution elsewhere or accidentally fixed it myself, but regardless, I didn't remember to post that in this thread. Sorry about that! :(

[2020-10-28 20:21] vtbassmatt commented on #209
Whoops, just realized that VS Code _has_ no native formatting for YAML. I'll edit my edit to the README and then mark this issue closed, since it's not just a workaround - it's _the way_ to get your formatter working again 😁

[2020-12-02 14:06] parthmishra commented on #187
This is super hacky since I'm not familiar with JSON Schema at all so someone may have a better workaround, but what I did was clone the service-schema.json file and added a `patternProperties` match for places where I use template expressions e.g.

[code]
 This silences most annoying cases of template expressions being interpreted as tasks/scripts/etc. but I haven't thoroughly tested this.

[2020-12-22 11:00] jlpstolwijk commented on #330
same issue here

[2020-12-27 20:32] adiun opened #369 ""Ignore files" functionality until linting issues are fixed?"
Until #187 is fixed (e.g. supporting `if`, `each`, and other template expressions), is there a way we can opt-out files from the pipeline linting? For example with a yaml comment at the top of the file, like `# azure-pipelines-ignore`? The errors are distracting since they show up in the Problems view, in the Explorer, etc.

[2021-01-09 20:11] ianjirka opened #371 "${{ expression }} syntax is not supported at task level"
The below template is valid but generates 'unexpected property ... the first property must be a task' errors in vscode.

[code]

[2021-01-13 01:22] Slooz opened #372 "Warning is displayed for /trigger/paths regarding wildcards, which is inconsistent with documentation"
[code]
[code]

But [Build Azure Repos Git repositories - Azure Pipelines | Microsoft Docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/azure-repos-git) says:

[2021-01-13 01:58] winterhotlatte commented on #371
Duplicate of #187?

[2021-01-13 02:38] ianjirka commented on #371
Agree it is a dupe of #187, thank you!

[2021-01-13 02:39] ianjirka commented on #371
Duplicate of #187

[2021-01-13 02:39] #371 closed

[2021-01-15 09:10] emmanuelbenitez opened #373 "Feature Request: Support if and each expressions"
Currently the extensions indicates that the if and each expressions (may be some others) are errors.

![image](https://user-images.githubusercontent.com/22790093/104705110-c96b8d80-5719-11eb-94f5-1eb9f9d7f1ca.png)

It should support this kind of synthax

[2021-01-20 16:50] #320 closed

[2021-01-20 21:59] 50Wliu commented on #320
This should be fixed in 1.182.0 :)

[2021-01-20 22:04] JustinGrote commented on #320
@50Wliu thank you. To be clear this extension has still been sunsetted with no alternative planned, correct? Will there ever be a "Github Pull Requests and Issues" equivalent extension for Azure Devops?

[2021-01-21 13:49] #258 closed

[2021-01-21 13:49] #321 closed

[2021-01-25 15:34] michaelmairegger commented on #257
Any news on this topic?

[2021-01-26 02:38] #350 closed

[2021-01-26 02:38] #351 closed

[2021-01-26 02:38] #353 closed

[2021-01-26 02:38] #354 closed

[2021-01-26 02:38] #356 closed

[2021-01-26 02:38] #357 closed

[2021-01-26 02:38] #364 closed

[2021-01-26 02:38] #215 closed

[2021-01-26 02:38] #301 closed

[2021-01-26 02:38] #305 closed

[2021-01-26 02:38] #311 closed

[2021-01-26 02:38] #315 closed

[2021-01-26 02:38] #324 closed

[2021-01-26 02:38] #326 closed

[2021-01-26 02:38] #333 closed

[2021-01-26 02:38] #338 closed

[2021-01-26 08:55] DdOtzen opened #378 "Extension causes high cpu load [auto report]"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.183.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.52.1`

[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/5872211/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)
`

Find more details here: https://github.com/

[2021-01-26 11:13] DdOtzen commented on #378
duplicate of #215

[2021-01-26 14:01] krokofant commented on #373
Duplicate of https://github.com/microsoft/azure-pipelines-vscode/issues/187?

[2021-01-26 18:09] emmanuelbenitez commented on #373
Yes, it seems to be the same issue.

[2021-01-26 22:37] 50Wliu commented on #378
Yeah. There's been a number of improvements around this area, some released, some still in development. I'm going to close this as handled by #365 but until that lands you should also be able to see much faster activation time by setting `azure-pipelines.configure` to false.

[2021-01-26 22:37] #378 closed

[2021-01-27 03:34] 50Wliu commented on #373
Yep, closing as a duplicate of #187. Thanks @krokofant!

[2021-01-27 03:34] #373 closed

[2021-01-27 03:35] 50Wliu commented on #277
Fixed in 1.170.0, according to #290.

[2021-01-27 03:35] #277 closed

[2021-01-27 03:35] 50Wliu commented on #279
Fixed by #376.

[2021-01-27 03:35] #279 closed

[2021-01-27 03:38] 50Wliu commented on #281
I see this is in the schema now: https://github.com/microsoft/azure-pipelines-vscode/blob/f7d0079da837b27c88bdf24059b7722efd0513b1/service-schema.json#L6002

Please leave a comment with the extension version you're using if it's still appearing as an unknown property :).

[2021-01-27 03:38] #281 closed

[2021-01-27 03:38] 50Wliu commented on #278
Fixed by #376, available in 1.183.0.

[2021-01-27 03:38] #278 closed

[2021-01-27 22:17] ElvenSpellmaker commented on #187
This is a problem for me in a slightly different way (as well as the above).

I want to display a different display name for a task based on a condition and I'm getting `Unexpected property ${{ if eq(parameters['slotDeploy'], true) }}` on each of the lines.

Code:
[code]

To clarify the above works fine in AZD and shows the right message based on the value, but I get the warning above.
![image](ht

[2021-01-28 10:30] iTiamo opened #379 "Conditionally including tasks or templates not supported, "The first property must be a task""
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#parameters-to-select-a-template-at-runtime

The preceding link describes a way to conditionally include templates based on parameters.

[code]

This extension does not see this as a valid template, resulting in error "The first property must be a task".

![image](https://user-images.githubusercontent.com/53

[2021-01-28 10:35] iTiamo commented on #379
This can also be used to conditionally include group of tasks.  The following is perfectly valid way to include a group of tasks based on a parameter. This extension does not support this.

[code]

[2021-02-01 19:16] fgbaezp commented on #226
I'm still seeing red squiggles on custom tasks even though I'm on the last versión of the extension (currently 1.183). Any updates on this?

[2021-02-01 20:25] vtbassmatt commented on #226
@fgbaezp you have to grab your org's schema (go to `https://dev.azure.com/YOUR_ORG_NAME/_apis/distributedtask/yamlschema`), save it as a .json locally on your machine, and [configure the extension to use it](https://github.com/microsoft/azure-pipelines-vscode#specific-schema).

[2021-02-01 20:25] vtbassmatt commented on #226
I'm going to close this issue since it has a solution now. Maybe someday we'll sprout the ability to log into an org directly, but I'm not counting on it.

[2021-02-01 20:25] #226 closed

[2021-02-02 12:45] JeffreyArt1 opened #381 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.183.0`
- OS Version: `Darwin x64 18.7.0`
- VSCode version: `1.52.1`

[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/5911179/ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt)

[2021-02-02 14:36] ashkantaravati commented on #330
same here

[2021-02-02 21:52] jason-ha commented on #379
I was happy to find this extension to help avoid syntax errors before sending to Azure for validation, but this issue makes it very impractical to enable.

[2021-02-02 22:00] jason-ha commented on #379
@iTiamo I recommend using `True`/`False` in yaml. Canonical values are `True`/`False` rather than `true`/`false`. It normally doesn't matter, but it can crop up and the subtle capitalization difference may be hard to spot. It bit my team once; so we just use `True`/`False` everywhere now.
Also with a Boolean parameter there is no need for `eq(parameters.experimentalTemplate, true)`, `parameters.ex

[2021-02-03 08:17] iTiamo commented on #379
Thx for the recommendations, @jason-ha 😄

[2021-02-04 21:39] neville-nazerane commented on #187
Any updates on this? This bug is now forcing me to use templates.

[2021-02-05 01:38] 50Wliu commented on #187
Not at the moment, sorry. When there are updates they'll be posted in this issue.

[2021-02-05 01:39] 50Wliu commented on #379
This is the same as #187, so closing in favor of that one. It's on the todo list of things to tackle!

[2021-02-05 01:39] #379 closed

[2021-02-05 03:14] 50Wliu commented on #349
This is the same underlying issue as #187: template expressions aren't supported. Follow that issue for updates!

[2021-02-05 03:14] #349 closed

[2021-02-05 03:17] 50Wliu commented on #299
Closing in favor of #187. I know this is a pain point, just working on consolidating issues right now so we can get a better sense of the outstanding areas to work on.

[2021-02-05 03:17] #299 closed

[2021-02-05 03:17] 50Wliu commented on #298
Yep, duplicate of #187. Subscribe to that issue for updates.

[2021-02-05 03:17] #298 closed

[2021-02-05 03:18] 50Wliu commented on #271
Without further information there's not much we can do to solve this. @sasanmcp if you can share some of the warnings you're seeing, I can reopen this issue :).

[2021-02-05 03:18] #271 closed

[2021-02-05 03:19] 50Wliu commented on #257
Not yet, sorry. Progress will be tracked at #187 though if you want to be notified of updates.

[2021-02-05 03:19] #257 closed

[2021-02-07 14:00] TechnicallyJoe commented on #187
Just chiming in here. Normally i use the yaml linter, which is usually okay with these expressions. However, i've got this: `"${{ if or( eq(parameters.runIntegrationTests, true), eq(variables['Build.Reason'], 'Schedule') ) }}" `Which the yaml linter is converting to `- ? ${{ if or( eq(parameters.runIntegrationTests, true), eq(variables['Build.Reason'], 'Schedule') ) }}
    :` essentially forcing m

[2021-02-14 16:35] FH-Inway commented on #187
Thanks for working on this, I encountered the issue today. Looking forward to a fix.

[2021-02-17 12:58] zioalex opened #383 "Selected workspace is not a Git repository. Please select a Git repository."
While trying to use this plugin I got the problem in  Subject.
In my workspace the are 3 subfolders that are git repos but nothing in the root folder.

Why does the folder need to be a git repo?
And if this is requirement how can I specify the repo folder to support my use case?

Thanks
Alessandro

[2021-02-17 13:09] badsyntax opened #384 "Invalid YAML structure when using emojis in script tasks"
Here's an example `azure-piplines.yml`:

[code]

This is what I see:

![Screenshot 2021-02-17 130750](https://user-images.githubusercontent.com/102141/108208650-357a5080-7121-11eb-9a81-510078fc9e88.png)

It seems to only trigger the error for certain emojis. For example it doesn't trigger when using "⏳"

[2021-02-22 12:56] hangar18rip commented on #187
Hi there,
Issue at the stage level :
![image](https://user-images.githubusercontent.com/6670531/108711359-89b47480-7515-11eb-9bbf-2cf99bfc9487.png)
The pipelines using this template run fine
🤞 to get a fix soon

[2021-02-22 15:24] suic86 opened #385 "Each-expression as pipeline task highlighted as error"
# Description

When each-expression is used as pipeline task, the whole task is highlighted as an error (see Actual Behavior).

## Actual Behavior

![image](https://user-images.githubusercontent.com/11985251/108728393-d5711900-7529-11eb-92b5-0f1bb846b104.png)

## Expected Behavior

Each-expression is accepted as a task.

[2021-02-22 15:28] suic86 commented on #385
Duplicate of #187.

[2021-02-22 15:28] #385 closed

[2021-02-24 13:16] micdudk commented on #187
This issue has more than 2 years now. Really, MSFT? Just look how my file look like now...
![image](https://user-images.githubusercontent.com/43377194/109005920-c8c7fe80-76aa-11eb-890a-87d790ffb621.png)

[2021-02-25 21:43] qidydl commented on #187
The workaround from @parthmishra is a massive improvement, something similar for stages/jobs would be an easy 80/20 solution that would drastically improve the experience for most people. If this extension hasn't been abandoned, can that get added to the default schema here and in Azure DevOps itself to at least make this usable?

[2021-02-26 14:18] vtbassmatt commented on #187
@vijayma @damccorm this might be tractable in the schema endpoint, after which I could take a new snap of the schema and re-ship this.

[2021-02-26 16:57] 50Wliu commented on #187
FWIW I have a somewhat-hacky branch on azure-pipelines-language-server that fixes this: https://github.com/microsoft/azure-pipelines-language-server/pull/93

Work really picked up these past two weeks though so I haven't had time to revisit it and finish it up/figure out if the direction I'm taking is a good approach or not.

[2021-03-02 10:18] wyrdfish opened #386 "Feature Request: Support the pipeline preview api"
There is a way of making a rest call to test the validity of the pipeline code being edited.
It would be great if this was added to the extension as a command that could be called.

https://docs.microsoft.com/en-us/rest/api/azure/devops/pipelines/preview/preview?view=azure-devops-rest-6.1

[2021-03-03 03:07] #381 closed

[2021-03-04 15:58] kalfilla opened #387 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `azure-pipelines`
- Extension Version: `1.183.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.53.2`

[code]

[2021-03-05 01:16] 50Wliu commented on #387
This will be fixed soon! Just need to do some validation before creating a new release.

[2021-03-05 01:16] #387 closed

[2021-03-05 09:52] dave-yotta opened #388 ""First Property must be task" in VSCode for valid pipeline"
Here is the docs for conditional insertion:
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#conditional-insertion

Here is what VSCode looks like if you do this:
![image](https://user-images.githubusercontent.com/41444963/110098714-66e95200-7d98-11eb-88ef-a25fcd8656b6.png)

The pipeline is valid:
![image](https://user-images.githubusercontent.com/4144496

[2021-03-05 13:53] jtucker commented on #388
FYI, this is covered here #187

[2021-03-05 16:13] dave-yotta commented on #388
Ok closing as a duplicate.  Can't believe that's been open for 2 years! 😂

[2021-03-05 16:13] #388 closed

[2021-03-05 16:16] dave-yotta commented on #187
FYI this is a problem for steps (and since it's valid anywhere in the yaml...everything...) - hard to believe this is a difficult to solve issue (${{ should always be a valid tag?) but good luck ppl I'll leave this to those who javascript 🤞

[2021-04-01 13:35] skeeler commented on #187
Similar to what others have observed, here is where I've run into the issue. Hoping for a fix soon(ish):
![image](https://user-images.githubusercontent.com/755941/113301856-74c5c080-92cd-11eb-8570-4b326a0fb787.png)

[2021-04-01 13:37] hangar18rip commented on #187
![image](https://user-images.githubusercontent.com/6670531/113302202-1d8d1380-9300-11eb-90bd-0f50cb58f2c8.png)

[2021-04-06 11:49] zleight1 commented on #187
I wrote some custom definitions for steps, stages, jobs, and tasks (for when you import them from a parameter)

Hopefully it'll help some of you until MS fixes this :-)

https://gist.github.com/zleight1/a532867d1a0363e759a3e5939d36b727

[2021-04-13 00:51] zendu opened #391 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azure-pipelines`
- Extension Version: `1.183.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.56.0-insider`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load
[ms-azure-devops.azure-pipelines-unresponsive.cpuprofile.txt](https://github.com/microsoft/azure-pipelines-vscode/files/63

[2021-05-04 17:08] lszomoru opened #392 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-06 13:49] JKrag commented on #384
I have observed the same problem as I have emojis in the displayName field of some of my steps. At least finding this issue brings some sanity back into my head.

[2021-05-07 11:50] lszomoru opened #394 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-11 12:19] mmajcica commented on #226
Hi @vtbassmatt @damccorm  I added the schema that I extracted, but I can't validate the fully qualified task name, but only if I do specific taskname@version. Is there a way to have also the full task names validated correctly?

[2021-06-10 00:39] 50Wliu commented on #391
This will be fixed by the next release, coming shortly!

[2021-06-10 00:39] #391 closed

[2021-06-10 00:58] 50Wliu commented on #384
This was reported to the YAML parser we use: mulesoft-labs/yaml-ast-parser#37. Unfortunately, it looks like yaml-ast-parser hasn't been updated since 2018. We may need to look into switching YAML parsers, but that'll probably be a big endeavor...

[2021-06-11 03:47] 50Wliu commented on #394
From my reading of the guide, we have at most limited virtual workspace support: Configure Pipeline certainly won't work with virtual repositories.
The bottom of the guide contains a snippet that implies LSP currently does not support virtual workspaces; that would drop us down to no virtual workspace support until that changes.

[2021-06-11 08:40] aeschli commented on #394
Out of curiosity, I had a quick glance at the azure-pipelines-language-server and if I get it right, it should be easy to adopt.
In the client you just need to change your document selector to not be limited to`file`.

Where adoption is needed on the server is for the schema loading. If you want to allow loading schemas not just from `http`, `vscode` and `file`, then you need to forward the schema

[2021-06-12 01:26] 50Wliu commented on #394
Ah, that's great news! I'll look into it, then.

[2021-06-12 01:30] 50Wliu opened #402 "customSchemaFile does not work with remote URLs"
The extension completely butchers it because it thinks it's a relative path, but it certainly looks like the language server is able to handle remote URLs:
https://github.com/microsoft/azure-pipelines-language-server/blob/4f4bd93ff00f3081d6dfbd9210a795b7121ca581/language-server/src/server.ts#L152

The fix here is probably to use vscode-uri or something when determining if the path is relative or n

[2021-06-14 06:34] Satak opened #404 "AzureStaticWebApp@0 string does not match the pattern of"
Yaml format check doesn't support `AzureStaticWebApp@0`

[code]

![image](https://user-images.githubusercontent.com/10957012/121849099-9c84cc00-ccf3-11eb-9688-36e6ee92d290.png)

[2021-06-14 16:29] #392 closed

[2021-06-14 16:29] #402 closed

[2021-06-15 14:10] 50Wliu commented on #404
Hi @Satak, you're in luck! This is fixed as of extension version 1.188.1, published earlier today :).
Please let me know if you're still seeing issues after updating.

[2021-06-15 14:10] #404 closed

[2021-06-17 03:00] 50Wliu commented on #383
Hi @zioalex, could you please share a screenshot of what you're seeing?

[2021-06-22 00:04] 50Wliu commented on #187
All right everyone, progress update. Here's where I'm at.
![working-azure-pipelines-expressions](https://user-images.githubusercontent.com/2766036/122680604-06064e00-d1be-11eb-8acc-87253dfb1cf5.gif)

For those interested, the pull request is at https://github.com/microsoft/azure-pipelines-language-server/pull/93; I plan to add some unit tests in the next few days before putting it up for review bu

[2021-06-22 03:28] 50Wliu commented on #359
Adding a link because I had no clue what this was. https://docs.microsoft.com/en-us/azure/devops/pipelines/test/codecoverage-for-pullrequests?view=azure-devops

[2021-06-22 06:26] zleight1 commented on #187
Awesome!

FWIW you can see the pattern I used to match the expressions in the YAML schema. I think it is a valid tradeoff to just pattern match the brackets and not validate the expression (as it's runtime anyways).

[2021-06-22 10:49] vtbassmatt commented on #187
@vijayma this is going to land in the language server soon FYI. You should
be able to make the web UI do the same thing once it ships by taking an
update.

On Tue, Jun 22, 2021 at 2:26 AM Zachary Leighton ***@***.***>
wrote:

[2021-06-25 07:56] LucaBlackDragon commented on #209
I have done this, but it's not working, it keeps telling me I have no formatters installed for "azure-pipelines" files (I also tried restarting VS Code).
Prettier is working as usual if I select YAML as the file language.

This is my configuration:

[code]

[2021-07-01 21:38] madrum commented on #163
keeping an az cli command to do this may be a good option, until the functionality is added to this extension.

[2021-07-07 15:48] 50Wliu commented on #187
Here's a dev version of the extension that contains support for template expressions. To install, unzip it, then open VS Code and select "Install from VSIX" from the three-dot menu:
![install-from-vsix-vscode](https://user-images.githubusercontent.com/2766036/124790344-10904980-df19-11eb-8734-ca3402428f56.png)

Please test it and report any issues if you can! If testing goes well, I'll try to get

[2021-07-07 16:04] krokofant commented on #187
@50Wliu If I use an emoji somewhere in the YAML it breaks with at the top saying "Invalid YAML structure".
[code]
![image](https://user-images.githubusercontent.com/5908498/124792690-86160d00-df4d-11eb-8cf2-2a70dc2050da.png)

How will my pipelines survive without these emojis? 😅 _(We actually use emojis heavily)_

[2021-07-07 17:16] teom10 commented on #187
It worked for me, thanks!

[2021-07-14 19:00] 50Wliu commented on #187
Hit a language server crash on the current pipeline I'm writing, so will need to investigate that before releasing...

[2021-07-22 18:17] atkulp opened #410 "Incorrect "Value is not accepted" in AzureKeyVault task"
I'm setting `runAsPreJob` to `false` and `secretsFilter` to a quoted comma-delimited string and I get:

![image](https://user-images.githubusercontent.com/3195410/126688333-bd7fb941-d3e7-4232-a108-b51b6f7c472e.png)

[2021-07-27 11:22] Borda opened #411 "timeoutInMinutes is number or string?"
I was running check for JSON and found some confusion as schema say `timeoutInMinutes` shall be a string:
https://raw.githubusercontent.com/microsoft/azure-pipelines-vscode/v1.188.1/service-schema.json
On the other hand, docs say number:
https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema%2Cparameter-schema#job
you can find the failing over here: https

[2021-07-27 11:27] aribornstein commented on #411
@dynamicwebpaige can you help us clarify whether timeoutInMinutes should be a string or a number? There seems to be a contradiction in the documentation

[2021-07-27 12:03] EzzhevNikita commented on #411
@Borda As I see documentation has a correct type for this variable, it should be a number.

[2021-07-27 12:21] Borda commented on #411
a bit offtopic, also any idea bout this error? `'PublishCodeCoverageResults@2' is not one of ['PowerShell@2']`

[2021-07-27 12:24] Borda opened #412 "'PublishCodeCoverageResults@2' is not one of ['PowerShell@2']"
running the same checking as #411 and getting the following error?
[code]
docs: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results

[2021-07-27 13:14] EzzhevNikita commented on #412
As I see you are using [this](https://pypi.org/project/check-jsonschema) python module for validation of YAML schema, so I suggest you ask questions about the meaning of this error in their [repo](https://github.com/sirosen/check-jsonschema), since it is generated on their side and this question doesn't seem to be related to the azure-pipelines-vscode extension.

[2021-07-28 07:49] EzzhevNikita commented on #412
@Borda Since that issue is not related to the azure-pipelines-vscode and you have created a ticket in the appropriate repository, I am closing this ticket.

[2021-07-28 07:49] #412 closed

[2021-07-28 21:41] Borda commented on #412
@EzzhevNikita on the other hand I have a hard time finding the `PublishCodeCoverageResults` and if there is only `@1` not `@2`

[2021-07-29 05:36] EzzhevNikita commented on #411
@Borda Do you have any additional questions regarding azure-pipelines-vscode extension itself?

[2021-07-29 06:38] Borda commented on #411
not really just these types for checking... Thx

[2021-07-29 06:45] EzzhevNikita commented on #411
In this way, I am closing this ticket.

[2021-07-29 06:45] #411 closed

[2021-07-29 06:58] Borda commented on #411
do you say that the string instead of a number is correct?

[2021-07-29 23:31] cal5barton commented on #187
It's close to being fixed for me, still have this.

![image](https://user-images.githubusercontent.com/7515844/127578329-d4a567dd-bac5-47f4-95f2-e88d62c03536.png)

[2021-07-30 02:14] jason-ha commented on #187
This is an improvement, though I see complaints about unknown tasks throughout most of the file (which are known to be just fine):
![image](https://user-images.githubusercontent.com/30939149/127589194-4c14b69b-3d3e-486d-8e40-d7dd6c677f71.png)
Perhaps another change in this build, but unrelated to the conditional fix. I see issue #404 looks about the same, but is claimed to be fixed in 1.188.1 and

[2021-07-30 13:39] 50Wliu commented on #187
@jason-ha you'll need to follow the steps [here](https://github.com/microsoft/azure-pipelines-vscode#specific-schema) to get the extension to recognize any custom tasks your organization has installed.

@cal5barton can you hover over the warning and tell me what it's reporting? Likely it's `String does not match the pattern of "^[_A-Za-z0-9]*$".` which I'll target for a later release, but want to

[2021-08-01 22:21] Borda commented on #411
@EzzhevNikita so you say that the correct is number in form of a string? I feel quite confused...

[2021-08-02 05:17] EzzhevNikita commented on #411
@Borda There is no number type in the schema at all, if you will take a look all numbers are represented as _nonEmptyString_.

[2021-08-04 10:36] pkrukp opened #413 "TypeError: Expected signal to be an instanceof AbortSignal"
Hi,

I'm getting "**TypeError: Expected signal to be an instanceof AbortSignal**" when running "Azure Pipeline: Configure Pipeline". I select "Simple Application to Windows Web App", then select my Subscription, then the error happens.

Console shows:

[code]

From what I google it might be problem with webpack minimalization in production build...

Versions:
Azure Pipelines 1.188.1
VSCode:
Versio

[2021-08-04 14:43] 50Wliu commented on #285
I'm going to dupe this to #410 which is a bit more descriptive. Thanks for reporting though!

[2021-08-04 14:43] #285 closed

[2021-08-05 22:12] cal5barton commented on #187
Incorrect type. Expected "object".

[2021-08-06 04:40] digitalinfinity opened #414 "Creating a new pipeline fails"
Steps:
- Install the Azure Pipelines extension
- Hit Ctrl+Shift+P, run "Azure Pipelines: Configure Pipeline"
- Login to Azure Devops at the prompt

Expected:
- Pipeline scaffolding created

Actual:
- Error: "t.map is not a function"

![image](https://user-images.githubusercontent.com/158390/128456829-b876d801-1168-40f4-aa36-6bf9fb3d1fd8.png)

This is my first time reporting an issue in this repo s

[2021-08-11 23:49] mrlunchbox777 commented on #330
same issue that I attempted to fix improperly here, there are several places that this happens - https://github.com/microsoft/azure-pipelines-vscode/pull/417

[2021-08-11 23:52] mrlunchbox777 commented on #330
@50Wliu I know on that PR you said that we can't edit the file directly and that the file is managed internally, does that mean there is no way to contribute to fixing these kind of issues? I'd gladly spend some time fixing some of these if there is a way we can contribute.

[2021-08-12 14:26] 50Wliu opened #420 "Warning when using template expression as values"
For example:
[code]
will mark `${{ version}}` with the warning `String does not match the pattern of "^[_A-Za-z0-9]*$"`.

There's also
[code]
which yields `Incorrect type. Expected "object"` for `${{ step }}`.

[2021-08-12 14:27] 50Wliu commented on #187
1.191.0 is released and contains the initial support for template expressions!
I've created a tracking bug for the incorrect warning validation at #420.

[2021-08-12 14:27] #187 closed

[2021-08-12 14:30] 50Wliu commented on #330
Not that I know of, unfortunately. It actually seems to be auto-generated, meaning that it's even harder to fix than I thought 😢.

[2021-08-13 20:14] MattMencel opened #421 "AzureKeyVault task not passing schema validation"
tasks/azdo-pat.yaml::task: 'AzureKeyVault@1' does not match '^PowerShell@2$'

[code]

 I'm using the latest schema file, 1.191.0.

 Tried with both tasks @1 and @2.

[2021-08-16 14:50] 50Wliu commented on #421
Known issue with the schema; this is being tracked at #410. Thanks for reporting, though!

[2021-08-16 14:50] #421 closed

[2021-08-16 14:55] 50Wliu commented on #330
Okay, did some more digging. I'm pretty sure that for tasks, the schema is auto-generated from each task's `task.json` file. So if you're seeing problems with an individual task's validation, go submit a PR to https://github.com/microsoft/azure-pipelines-tasks.
Still don't know how the rest of it (i.e. `trigger`, etc) is generated though.

[2021-08-18 06:02] dozer75 commented on #414
This is also the true on projects that contains pipelines.

[2021-09-08 20:53] Jernik commented on #410
I'm also seeing this issue, but it seems like a PR is just waiting on review to fix it. Thanks Winston!

[2021-09-13 19:48] forbushbl opened #423 "Language server keeps crashing"
For some reason, the language server keeps crashing which prevents the extension from starting up. This is the error that I see printed in the console each time it crashes:

[code]

[2021-09-15 09:26] molotch commented on #413
I have the exact same problem.

VSCode:
[code]

Azure Pipelines extension:
`v1.191.0`

[2021-09-15 09:42] OliverFlint commented on #414
Reverting to version 1.182.0 of the extension resolved this issue for me. not sure why though!

[2021-09-15 15:01] 50Wliu commented on #423
@forbushbl is the pipeline YAML you're working on something that you can share publicly? If not, can you try isolating the issue by removing parts of the pipeline definition until the server stops crashing?

[2021-09-15 20:06] zioalex commented on #383
Hi Liu,
sorry for the late reply, but I cannot reproduce it anymore.

On Thu, Jun 17, 2021 at 5:00 AM Winston Liu ***@***.***>
wrote:

[2021-09-22 19:39] ggirard07 commented on #209
Looks like this workaround works with prettier, but not with the redhat one (`redhat.vscode-yaml`)

[2021-10-01 11:33] bytepl commented on #414
The same thing happens for me, VS Code stable channel.

[2021-10-05 15:51] Fibsi90 commented on #414
The same thing happens for me, VS Code stable channel.
Reverting to version 1.182.0 didn't solved the issue.

[2021-10-07 14:40] 50Wliu commented on #414
This is on my radar, sorry for the inconvenience.

[2021-10-21 08:01] ghost opened #424 "Update "azure-pipelines-language-service" and "azure-pipelines-language-server" versions"
Update "azure-pipelines-language-service" and "azure-pipelines-language-server" versions (newer than 0.6.5)

[2021-10-21 08:03] tatyana-kostromskaya commented on #424
Need to finish this before https://github.com/microsoft/azure-pipelines-vscode/issues/176

[2021-10-29 00:16] #424 closed, assigned to nobody

[2021-11-02 09:58] molotch commented on #414
Seems as if the "t.map is not a function" error disappears if you have set up the folder as a git repo and added a Azure DevOps remote. Though once you choose any template that step fails instead with an error of

"Expected signal to be and instanceof AbortSignal"

![image](https://user-images.githubusercontent.com/4903285/139825358-2a613f25-0e59-472f-ab7e-211bc81eed50.png)

[2021-11-02 14:23] 50Wliu commented on #414
Yes - I believe there's two bugs here. The `.map` error sounds like incorrect validation, while `AbortSignal` was reported in #413  as a problem with how we're packaging the extension (I only tested with the _unpackaged_ version before releasing it...didn't think there would be behavior differences).

I will try to get these bugs resolved this week or next :).

[2021-11-08 15:04] tatyana-kostromskaya commented on #176
New version of the extension that includes the fix was release.

[2021-11-08 15:04] #176 closed

[2021-11-09 13:00] Rawh opened #428 "Tasks BicepInstall and bicepbuild not recognised. Vscode intellisense going nuts."
Hi,

I'm trying to apply two bicep specified tasks in regards to
1) install bicep
2) build bicep code as a compile-check

The tasks are related to the source explained at https://github.com/piraces/azure-devops-bicep-task

When using both tasks, I'm getting a mismatch on the values. Can these be added so intellisense doesn't go nuts in my pipeline?

![image](https://user-images.githubusercontent.c

[2021-11-09 22:51] 50Wliu commented on #428
Hey there @Rawh - you need to follow the instructions [here](https://github.com/microsoft/azure-pipelines-vscode#specific-schema) to get the extension to recognize any tasks you've installed in your organization.

[2021-11-09 22:51] #428 closed

[2021-11-10 14:42] 50Wliu commented on #414
Good morning, everyone! I believe I've fixed the errors here. If you're up for it, I would appreciate if you could try out the attached version of the extension, to make sure it also works for you.

If I don't hear anything back, I plan to release a new version once Sprint 195 is out.

[azure-pipelines-1.194.2-pr-429-c16e794.zip](https://github.com/microsoft/azure-pipelines-vscode/files/7513516/az

[2021-11-11 14:59] #384 closed

[2021-11-11 16:56] #383 closed

[2021-11-11 16:57] 50Wliu commented on #369
Closing this as #187 has been fixed. Let me know if this still has its uses now that validation is (mostly) accurate.

[2021-11-11 16:57] #369 closed

[2021-11-19 17:46] InKahootz opened #430 "Feature Request: Navigate to task reference online documentation"
This feature request comes from here: https://stackoverflow.com/questions/70038332/how-can-i-ctrlclick-goto-defintion-of-a-yml-azure-devops-pipeline-task

Would there be any way to update the service schema to include the documentation and the language server to then support a goto definition for the tasks?

[2021-11-19 22:05] 50Wliu commented on #430
Hmm...this is most likely out of scope because I'd prefer that we don't modify the service schema, but I'll take a look anyway and see if there's a trivial mapping we can perform.

[2021-11-19 22:07] #413 closed

[2021-11-19 22:07] #414 closed

[2021-11-19 22:24] InKahootz commented on #430
Appreciate it.

For curiosity's sake, how is the schema generated? I originally found it by looking at the azure-pipelines lang server and seeing that it pulls the schema from http://schemastore.org/api/json/catalog.json which lead me to this repo naturally.

[2021-11-22 17:28] 50Wliu commented on #430
This isn't correct, what you're likely seeing is the generic "find the schema" code that we got when we forked Red Hat's YAML language server.
For Azure Pipelines specifically, the schema is found using an API endpoint: https://github.com/microsoft/azure-pipelines-vscode#specific-schema. For releases, we copy the schema from an organization with no custom pipeline tasks installed, then update the

[2021-11-23 01:00] 50Wliu commented on #414
Version 1.195.0 of the extension has been released. Let me know if you still have issues after updating.

[2021-11-23 01:00] 50Wliu commented on #413
Version 1.195.0 of the extension has been released. Let me know if you still have issues after updating.

[2021-12-09 13:09] carlosdoliveira opened #435 "Support to WSL and Dev Containers"
As stated on README.

Unfortunately this very useful feature is not yet supported on vscode using WSL or Dev Containers as you can see here:
![image](https://user-images.githubusercontent.com/23587299/145400788-0ef1d2b5-b64a-43fb-a9e3-a3df3766f3f6.png)

It could be really useful if this feature were enabled for these platforms as well.

[2021-12-09 19:40] 50Wliu commented on #435
Yeah, I think we need to do some work to make sure the extension works correctly in remote workspaces. Thanks for filing an issue.

[2021-12-20 07:48] AndreyIvanov42 commented on #435
Looks like, now this feature is already working.

![image](https://user-images.githubusercontent.com/93121155/146730436-bcbecefa-88fb-4b86-a104-293025ba4602.png)

Please check VS code settings and schema availability. Here is my example

![image](https://user-images.githubusercontent.com/93121155/146730989-888c2e9b-2554-4954-9b02-42736e9f3e54.png)

[2021-12-23 11:22] Fleurpot82 opened #436 "Configure Pipelines: Support Azure DevOps Server Repos"
It would be great to be able to utilise this for users using Azure Server on prem, after downloading out local schema I am still presented with the error: Couldn't get repository details. Ensure your repo is hosted on Azure Repos or GitHub. Please can we support Azure Server Repos!

[2021-12-24 12:56] AndreyIvanov42 commented on #435
I close this task, if there are problems please reopen

[2021-12-24 12:56] #435 closed

[2021-12-30 19:14] 50Wliu commented on #436
Updated the title to reflect that schema information should work fine, it's just the Configure Pipeline flow that doesn't handle on-prem Azure DevOps Server.

[2022-01-04 09:12] hasitha-malinga commented on #410
We also ran into this issue and it's kind of urgent now. Please resolve. Thanks!

[2022-01-19 13:34] Cezus opened #438 "Is there anyone looking at the Rating and Review of the extension?"
It concerns me that there are so many bad reviews of this extension. It doesn't do justice to the effort put into it. What is the challenge to maintain this extension that there are so many bad reviews?

See: https://marketplace.visualstudio.com/items?itemName=ms-azure-devops.azure-pipelines&ssr=false#review-details

With kind regards

[2022-01-21 03:08] 50Wliu commented on #438
Hi there! I do look at the reviews.

So, there's a few things that make this challenging and contribute to the less-than-stellar extension rating.
* First off, for quite a while, this extension took a looooong time to activate, even if you weren't opening VS Code to edit a Pipelines file. Waiting half a minute for Git integration and TypeScript language features to light up just because you had in

[2022-01-26 07:54] Cezus commented on #438
Thank you for the comprehensive answer! This answers alot.
The old reviews are hard to get rid of indeed. I am very pleased to see that the developement of this extension is active.

I wish the maintainers of this extension the best! This issue can be closed. :)

With kind regards,

[2022-01-26 22:26] #438 closed

[2022-01-31 18:22] sirosen opened #440 "How is the schema applied when a pipeline is templated with an each loop?"
I apologize if this issue tracker is the wrong place to ask. Please let me know if I should close and repost elsewhere.

I maintain a jsonschema validation tool and have a user [asking for an accommodation for Azure pipelines config](https://github.com/sirosen/check-jsonschema/issues/29) because a pipeline with an `each` loop does not pass validation with the schema from here.

Looking at the sche

[2022-02-01 06:24] EzzhevNikita commented on #440
Hey @sirosen, this is mostly the question for [azure-pipelines-language-server](https://github.com/microsoft/azure-pipelines-language-server) repository, since the processing of expressions is implemented there. As far as I see here is the related PR that adds support of expressions to extension. In any way, if you have any additional questions regarding the processing of expression I would sugges

[2022-02-01 18:22] sirosen commented on #440
Thanks for the pointers! I was confused about where the expression handling was implemented. I (incorrectly) expected to find it here, alongside the schema.

I see the code I was looking for in the langauge-server repo; that PR link was very useful.
I'll ask any further questions I have about this there.

[2022-02-01 18:22] #440 closed

[2022-02-01 21:33] bbi-XavierElChantiry opened #441 "Validation for stage names allows spaces when it should not"
![image](https://user-images.githubusercontent.com/97471358/152052604-b7e39dd3-5118-4014-a1ba-159340e018ee.png)
![image](https://user-images.githubusercontent.com/97471358/152052768-0d39583a-79e5-4427-9a01-21e757084c9d.png)
This issue presents when only the azure pipelines extension is enabled.
I am using version 1.195.0 of azure pipelines and version 1.63.2 of vs code.

### Proof of concept that

[2022-02-02 08:09] EzzhevNikita commented on #441
@bbi-XavierElChantiry Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-03 15:19] 50Wliu commented on #441
@EzzhevNikita would you recommend opening a ticket on Developer Community, since we just happen to be one of the consumers of the [Azure DevOps yamlschema API endpoint](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/yamlschema/get?view=azure-devops-rest-7.1), or is this issue sufficient?

[2022-02-04 11:12] stefaneicher opened #442 "azure pipeline status extension"
Is there an extension with which I get an integration for Azure that shows me which pipelines are running and with which I can trigger a azure pipeline build? I also would like to get an overview of the build states of all pipelines

[2022-02-04 12:49] EzzhevNikita commented on #442
@stefaneicher I didn't hear about any official extension from Microsoft for VSCode to track pipelines statuses and trigger them, I guess there is no such. Extension from this repository is providing functionality for YAML validation.

[2022-02-11 07:43] #442 closed

[2022-02-14 20:56] sirosen opened #444 "The "any" definition in the schema does not allow for `number`"
The parameters in a template pipeline have a field, `default`, defined as `"any"`.

`"any"` can be seen here:
https://github.com/microsoft/azure-pipelines-vscode/blob/2e9781b705725387964e1931d9f52ae455746ca1/service-schema.json#L30-L46

It does not include numeric types. The following pipeline therefore fails validation:
[code]

My understanding is that the above is valid, and that these values wi

[2022-02-14 23:47] 50Wliu commented on #444
This is once again a problem with the ADO-defined schema, and unfortunately out of the control of this extension :(.

From https://github.com/microsoft/azure-pipelines-vscode/issues/411#issuecomment-890723614 it looks like this behavior might be intentional, which would be very confusing...I need to sit down sometime and figure this all out, then decide who to file bugs on.

[2022-02-15 07:05] EzzhevNikita commented on #441
@50Wliu Yes, it seems like the YAML schema requires changes to fix this issue.

@bbi-XavierElChantiry Could you please open a ticket in [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) since this issue requires changes in YAML schema, which is not owned by our team.

[2022-02-15 07:40] golubev-ivan commented on #444
Hi @sirosen, this issue isn't retated to this extension. You can submit the same issue to Microsoft developer community. Do you have any additional questions regarding azure-pipelines-vscode extension itself?

[2022-02-15 13:24] sirosen commented on #444
No. This is where I draw the line as a developer of FOSS software who is only working with this schema on personal time. The schema is in this repo.

Judging from @50Wliu's response, the schema is actually provided by some other upstream team.
I should note that the schema is listed in SchemaStore as being available here. That's a community project, but if there's a more accurate location that I a

[2022-02-15 13:54] sirosen opened #446 ""definitions/boolean" in schema does not allow for boolean values, resulting in failing validation for a step with `continueOnError: true`"
_Originally reported here: https://github.com/sirosen/check-jsonschema/issues/42_
A great deal of credit to the user in this case, he tells us exactly what the issue is.

This pipeline fails validation against the schema:
[code]

The problem is here:
https://github.com/microsoft/azure-pipelines-vscode/blob/2e9781b705725387964e1931d9f52ae455746ca1/service-schema.json#L3995

`{"type": "boolean"}` is

[2022-02-15 14:27] jammie19 commented on #446
Thanks for reporting this @sirosen. I raised the original issue in the downstream repo, so will add a bit of context.
The Azure Pipelines VSCode extension actually does handle this error, but I was seeing errors when validating with a Python-based validator -- in Python, booleans are `True` and `False`, which fails against the boolean regex in the schema.

It looks like the language server casts b

[2022-02-15 15:22] sirosen commented on #446
Oy vey! I didn't catch that, thanks for pointing it out.

I see similar hacks in the handling of null and numeric types.

This is not a feature which can be emulated -- at least not trivially -- outside of the language-server implementation. The fact that the nodes in the parsed AST are responsible for their own validation is unusual. In most implementations of JSON Schema, the schema validation a

[2022-02-16 06:58] golubev-ivan commented on #444
@sirosen, the schema in this repository is generated on the Azure DevOps server, the VSCode extension only is just a schema consumer, so to fix this schema - first need to fix the schema on Azure DevOps side. The schema in Azure DevOps is supported by another team, and to fix this problem it would be better to create a ticket on the [Microsoft developer community](https://developercommunity.visual

[2022-02-16 07:10] golubev-ivan commented on #446
Hi @sirosen, as far as I see this issue also related to ADO-defined schema, as I said in [other ticket](https://github.com/microsoft/azure-pipelines-vscode/issues/444#issuecomment-1041174873) - the schema in this repository is generated on the Azure DevOps server, the VSCode extension only is just a schema consumer, our team not support schema on Azure DevOps side and and to fix this issue it woul

[2022-02-16 13:45] AlexanderVolkovDA commented on #330
I guess I've found the reason of issue:
[trigger's batch property is defined on line 963 in service-schema.json](https://github.com/microsoft/azure-pipelines-vscode/blob/13c2361912b69cfc135c986a741df1b6051bb9ef/service-schema.json#L963)
And the type is `#/definitions/boolean`
that is defined on [line 3995 in the same file](https://github.com/microsoft/azure-pipelines-vscode/blob/13c2361912b69cfc13

[2022-02-16 16:34] 50Wliu commented on #444
@golubev-ivan is right. As for why it _appears_ like we own the schema (and why I assume Schema Store points to this repo as the source location) - the API endpoint to retrieve the schema is organization-specific because organizations can install extensions that add custom tasks. This extension doesn't yet support retrieving the org-specific schemas on-demand, so it provides a baseline by using a

[2022-02-16 17:43] sirosen commented on #444
Is that location publicly available?

Better yet, can you ask the Azure Pipelines developers provide the base schema from a URL where we could GET it and list it in SchemaStore, to cut out the middleman? Not only would this drop the need for the VSCode extension maintainers to keep a dummy org around (unless it's needed for other things too), it would also clarify who owns the schema and where to

[2022-02-16 21:54] 50Wliu commented on #330
Hey @AlexanderVolkovDA!

Typically, this is exactly how you would do it! However, in this case, the schema is auto-generated, so any manual changes to the PR will get overwritten on the next release. If you'd like, you can create a ticket on [Developer Community](https://developercommunity.visualstudio.com/search?space=21); otherwise, I'll get to creating the ticket myself eventually.

[2022-02-17 16:11] 50Wliu commented on #444
Nope (most likely for compliance reasons even if there's nothing stored in it).

This would be great! I'll defer to @golubev-ivan on this.

I understand, it's not very clear that this repository doesn't own the schema. That's something we can do better at clarifying. What makes it even trickier is that parts of the schema (builtin tasks at https://github.com/microsoft/azure-pipelines-tasks) _are_

[2022-02-17 19:24] golubev-ivan commented on #444
I can't provide the base schema and as far as I know, there is no way to get the base schema that isn't related to the organization now. Right now you can only get a scheme related to the organization, as @50Wliu mentioned.

[2022-02-19 23:26] sirosen commented on #444
Predictably, [the response from filing this bug report in that forum](https://developercommunity.visualstudio.com/t/Azure-Pipelines-Schema-does-not-allow-fo/1668074) is less than satisfactory. The same holds [for the other bug I took the time to report there](https://developercommunity.visualstudio.com/t/Azure-Pipelines-schema-inconsistently-li/1668070).

All I wanted out of this was to somehow ge

[2022-02-22 17:14] golubev-ivan commented on #444
Hello @sirosen, I'm closing this ticket, since we can't help you with issues that are related to the schema, our team doesn't support Azure DevOps YAML schema. Extension in fact is the same consumer of ADO schema as you and all the questions related to schema outside our ownership.

[2022-02-22 17:14] #444 closed

[2022-02-22 17:14] golubev-ivan commented on #446
Hello @sirosen, I'm closing this ticket, since we can't help you with issues that are related to the schema, our team doesn't support Azure DevOps YAML schema. Extension in fact is the same consumer of ADO schema as you and all the questions related to schema outside our ownership.

[2022-02-22 17:14] #446 closed

[2022-02-25 15:47] KonstantinTyukalov commented on #206
Hi all, just a quick update on this feature request:

In order to implement such a feature, we need to update the language server first. Per the investigation, it seems that the main work for this feature needs to be implemented on the "language server" side.

I have already opened the related issue at the language server repo:
- https://github.com/microsoft/azure-pipelines-language-server/issues/

[2022-03-10 17:44] anatolybolshakov commented on #410
Hi @atkulp the fix for this issue has been rolled out - closing it for now, please feel free to ask any other questions.

[2022-03-10 17:44] #410 closed

[2022-03-15 12:47] petrnymsa commented on #330
Is ticket already created? Can't find it and I don't want to create duplicates.

[2022-03-16 04:39] 50Wliu commented on #330
I haven't created it! Feel free to create one and link it here @petrnymsa.

[2022-03-16 04:39] 50Wliu commented on #410
This is now released in version 1.202.0 of the extension.

[2022-03-28 10:45] garfbradaz commented on #360
I get the same issue - for brevity obviously this isnt the full 'yml` :)

[code]

[2022-04-01 12:16] krokofant opened #453 "Automatic fetching of the organization schema doesn't work"
I'm not sure why it doesn't work. Downloading it manually and specifying `azure-pipelines.customSchemaFile` works.

I didn't find a way to clear the active login. I tried reinstalling the extension without any luck.

[2022-04-05 10:47] anatolybolshakov commented on #453
Hi @krokofant do you use Azure Repos to host your repository - as described in [readme](https://github.com/microsoft/azure-pipelines-vscode#schema-auto-detection)?

[2022-04-05 11:53] krokofant commented on #453
@anatolybolshakov Yes!

[2022-04-05 18:47] 50Wliu commented on #453
To add - do you have multiple Azure/Microsoft accounts? The extension doesn't currently do a great job of figuring out which account to use (it tries the first "session", and if that fails to authenticate it silently falls back to the custom schema file).
`Azure: Sign In` as suggested by Anatoly should work, but if that doesn't, also try `Azure: Sign Out` first.

[2022-04-05 19:46] krokofant commented on #453
@anatolybolshakov @50Wliu Thanks! I suggest that those commands be listed in the readme. Logging in again fixed it! 🥳

[2022-04-05 19:46] #453 closed

[2022-05-03 13:50] endersonmenezes opened #466 "CreateWorkItem@1 | Task not recognized."
Task Documentation: https://marketplace.visualstudio.com/items?itemName=mspremier.CreateWorkItem

Problem on VSCode:

![image](https://user-images.githubusercontent.com/11020807/166465512-2a94da25-c5b3-4218-abf0-f47dce543b2b.png)

Use case eg:

[code]

[2022-05-03 20:32] endersonmenezes commented on #466
@50Wliu Do you believe that this would have to be valid even if it is a task supported by Microsoft's own team?

[2022-05-04 10:40] olegbzk commented on #435
It doesn't work for me in WSL.
No schema autodetection from Azure Repo and from a custom file.

![image](https://user-images.githubusercontent.com/12022254/166665734-a32ebc28-5099-41c9-8e75-2e1eeddbf18e.png)
![image](https://user-images.githubusercontent.com/12022254/166665866-b15938b0-8819-4706-9f20-6cdb00652ef9.png)

[2022-05-04 23:31] 50Wliu commented on #466
Yes, no matter who it's published by, if it's not installed by default on a fresh Azure DevOps organization, we won't include it in the schema.

[2022-05-09 16:09] krokofant opened #469 "Automatic schema download broken with 1.204.0"
I've tried signing out and back in again but it does not seem to fetch the schema correctly.

If I downgrade to 1.202.0 then it works. If I upgrade to 1.204.0 it doesn't work.

If saw that there were some changes done between these versions related to git handling. Are ssh remotes still working? 🤔

Version: 1.68.0-insider (user setup)
Commit: 42b1f560e3badc792056a1021094fbf859588d8d
Date: 2022-05-

[2022-05-09 16:50] krokofant commented on #469
There is no log output except for "Extension has been activated" and I don't this extension setup to debug locally. Looking through the changes since the previous release this https://github.com/microsoft/azure-pipelines-vscode/commit/bd0fe410642e62ef69105ce6b0f7c6cf59176748 commit seems like most plausible to cause issues.

Specifically the changes made to [src/schema-association-service.ts](http

[2022-05-09 18:27] 50Wliu commented on #469
Good catch, I tested those changes thoroughly on the Configure Pipeline flow, but failed to test on custom schemas.

[2022-05-10 01:27] 50Wliu commented on #469
Confirmed fixed by #470. Thanks!

[2022-05-10 01:27] #469 closed

[2022-05-10 01:46] 50Wliu commented on #469
Now live as 1.205.0. Thanks again!

[2022-05-13 22:15] 50Wliu commented on #435
I will take a look and get back to you.

[2022-05-16 21:59] microsoft-github-policy-service[bot] opened #474 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-17 17:27] #474 closed

[2022-05-18 06:37] drewkg opened #475 "Schema Validation Azure DevOps"
This is just to capture an issue for people searching for the same issue.

The schema validation was not working for a repository that is hosted on Azure DevOps Service.  The issue resulted in being the URI of the origin.  This particular repository had originally been cloned using the older visualstudio.com URI schema (this did not validate)
e.g.
https://<Organisation>.visualstudio.com/<Project>/

[2022-05-19 16:58] asdkant commented on #103
+1 to this feature request, I just wasted my morning on a typo that would have been evident if we had syntax highlight for inline scripts :(

[2022-05-20 04:36] 50Wliu commented on #475
Interesting, thanks for reporting @drewkg. Can you describe what you mean when you say "schema validation"? Do you mean the new schema auto-detection feature, or something else?

[2022-05-22 04:39] drewkg commented on #475
Apologies, I mean the ability to detect and download the json schema for your instance of Azure DevOps Service which includes the custom plugins that you have installed.

I have only just discovered this VS Code extension so I am unsure if this is new, but it is very useful.

[2022-05-25 04:43] 50Wliu commented on #475
Thanks for the report! Both types of URLs should work, so I'll take a look and see what's going on.

[2022-06-10 15:32] rklec opened #477 "Support syntax-highlighting and verifying/linting inline PowerShell scripts"
## Use case / Problem

I use this extension here to lint, check and write Azure Pipelines YAML files, which are CI configuration files.
Now there are often some inline PowerShell scripts and they are just shown as a big block of text and no help like syntax highlighting or even linting, code snippets, IntelliSense or so is provided.

An example:
[code]

## Proposed solution

It would be great if y

[2022-06-17 14:16] brsmyth opened #478 "HelmDeploy@0 lists required values that are only required for one subcommand"
I have a working pipeline definition that uses `HelmDeploy@0` tasks with `install` commands. The VS Code extension reports 3 problems on each of the definitions for missing properties `azureContainerRegistry`, `azureResourceGroupForACR`, and `azureSubscriptionForACR`. Per [the docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/helm-deploy?view=azure-devops), those propertie

[2022-06-17 14:32] brsmyth opened #479 "Docker@2 reports target as unexpected property"
Consider a pipeline definition snippet like:

[code]

The default tasks running in the job are to run in container `mycontainer`, but there are `Docker@2` tasks that need to run on the host. The VS Code extension lists `target` as an unexpected property in the problems. Running the pipeline behaves as expected: the container build task is executed on the agent host.

[2022-06-17 22:56] vmapetr commented on #478
@brsmyth Thanks for question! We are working on more prioritized issues now but will get back to this one soon

[2022-06-21 17:59] 50Wliu commented on #479
Thanks for reporting @brsmyth. Looks like this is an issue with the YAML schema we're getting back from ADO. I'll file an issue on them and link to it here when I do.

Documentation on the `target` property for reference: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/tasks?view=azure-devops&tabs=yaml#step-target

[2022-06-29 20:00] jdthorpe commented on #479
The same yaml schema has another error, which is that the `command: pull` raises this error even though "pull" is a valid value:

[2022-06-30 22:07] 50Wliu commented on #479
@jdthorpe Would you mind creating a new issue for that? I believe it should be easier to fix than this one :).

[2022-06-30 22:28] 50Wliu commented on #479
Filed as https://developercommunity2.visualstudio.com/t/YAML-Schema-API-is-missing-target-proper/10085540.

[2022-07-12 14:09] coolhome commented on #477
I definitely would love this as a feature. I'm curious to see what happens when the pipeline syntax is mixed inline with powershell. I'm assuming arguments is the correct way but this is still convenient sometimes.

e.g:
Valid in pipeline
[code]

Not valid in powershell
[code]

[2022-07-12 14:37] coolhome commented on #342
If you use Azure CLI you can use Azure DevOps CLI to invoke this easily - example in this issue - https://github.com/Azure/azure-devops-cli-extension/issues/1283

[2022-07-12 18:46] 50Wliu commented on #477
I've looked into this briefly, in the past. Grammar injection does make this easy, but the bigger problem is that the YAML grammar that we use doesn't currently have an easy way to _only_ inject the PowerShell grammar into `pwsh`/`powershell` tasks. And it'll be even harder for verbose-style `task: PowerShell@2` tasks. That said - this is something I want to get done, eventually. Just can't give a

[2022-07-12 18:46] #477 closed

[2022-07-13 08:42] stijnherreman opened #480 "Race condition when accessing azureAccountApi.sessions[0]"
There is a race condition in this line: https://github.com/microsoft/azure-pipelines-vscode/blob/f7704b206643f5344cf086f1aae21cae98f0cd8c/src/schema-association-service.ts#L103

Usually the `sessions` collection is still empty. With some luck I managed to avoid the race condition one time, while stepping through the code. But the only way to reliably avoid the race condition is introducing a delay

[2022-07-14 04:43] 50Wliu commented on #480
Thanks for reporting, @stijnherreman. I also noticed this while testing #481. In my case, I always had at least one session (MSA), but sometimes the second one (AAD) wouldn't load in time.
At any rate, while #481 doesn't fix the race condition, it should make it fail more gracefully since we now loop over it, rather than blindly accessing the first element.

I suspect either I'm not using the Azur

[2022-07-15 18:54] Bassicaly opened #482 "Error: Request custom/schema/content failed unexpectedly without providing any details."
After updating VSCode since coming back from a short vacation I'm getting the following error:

Unable to load schema from 'vscode-userdata:/c%3A/Users/C55152/AppData/Roaming/Code/User/globalStorage/ms-azure-devops.azure-pipelines/REDACTED-schema.json': Error: Request custom/schema/content failed unexpectedly without providing any details.

Azure Pipelines
v1.205.0

More Info
Released on
11/7/2018

[2022-07-18 14:55] aressler38 commented on #480
I also noticed this problem. In my case, I had the azure ml studio extension installed. I removed the extension and signed out of the connected azure account. This has temporarily fixed it for me.

[2022-07-18 16:32] Charles-Gagnon commented on #330
Came across this since I noticed the same issue - seems like there's a ticket that was opened for this but closed as "not enough information"

https://developercommunity.visualstudio.com/t/Azure-Pipelines-schema-inconsistently-li/1668070

I opened a new ticket to see if we can get an actual answer on this (and similar classes of issues) https://developercommunity.visualstudio.com/t/YAML-schema-has

[2022-07-18 21:51] 50Wliu commented on #482
Thanks, I can confirm this issue. Will take a look.

[2022-07-20 19:20] bv51982 commented on #482
I can confirm the same as @Bassicaly and @neilmca-inc. And I have also performed the same steps as @neilmca-inc

I am running vscode v1.69.2

[2022-07-21 00:07] 50Wliu commented on #482
I've figured this out and have a fix - will try to release a new version by the end of the week.

[2022-07-21 00:10] #58 closed

[2022-07-21 00:10] #482 closed

[2022-07-21 01:04] 50Wliu commented on #482
1.208.0 has been released.

[2022-07-29 12:54] eduard-bystrov opened #485 "if/else expression not compiling for variables"
[code]
Unrecognized value: 'else'. Located at position 1 within expression: else. For more help, refer to https://go.microsoft.com/fwlink/?linkid=842996
/.azure/pipelines/build.yml (Line: 29, Col: 5): Expected at least one key-value pair in the mapping

[2022-07-29 14:16] max-zaytsev commented on #485
Hi @eduard-bystrov,
Could you please provide more details about your issue?

[2022-07-29 15:38] eduard-bystrov commented on #485
sry wrong repository))

[2022-07-29 15:38] #485 closed

[2022-08-03 04:54] 50Wliu commented on #480
Good news - I've figured out why this is happening and how to fix it. I have a few other changes I want to get out in the works, but this will be fixed in the next release.

[2022-08-07 14:53] doggy8088 opened #487 "Copy & Paste in VSCode have bad experience"
When you want to copy something and paste into `azure-pipelines.yml`, if you paste after `- script` section, the format will become invalid. I always have to press Ctrl-Z to undo one step.

I recorded a video clip to show my point.

https://youtu.be/Zl3BA_TRiLM

[2022-08-08 14:14] LiliaSabitova commented on #487
Hi @doggy8088 thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-08-11 14:11] Yaseen17 opened #489 "not showing correct "input" parameters for the task"
trying to create a yaml build pipeline. But inputs for the task are not showing in VS code.

**how to list the inputs needed for the specific task  ?**

exported a schema from our organization devops server and updated VS code settings.json
like below
{
  "azure-pipelines.customSchemaFile": "./path/to/my-schema.json"
}

attached schema.json

https://gist.github.com/Yaseen17/4634768f2cb315102c1a4c6

[2022-08-11 14:17] Yaseen17 opened #490 "how to configure on-premise devops server"
how to configure on-premise azure devops organization for this extension?

[2022-08-11 18:54] 50Wliu commented on #490
Please see #436 -- Azure DevOps Server isn't supported yet.

[2022-08-11 18:54] #490 closed

[2022-08-11 18:55] 50Wliu commented on #490
Ah, I should note that you can always grab the schema as noted [here](https://github.com/microsoft/azure-pipelines-vscode#specific-schema), but auto-detection and configure pipeline don't work yet.

[2022-08-11 18:57] 50Wliu commented on #489
Can you please provide the exact value of `azure-pipelines.customSchemaFile` (hiding your username and any other sensitive information)? Does the Azure Pipelines file you're editing have its language set to "Azure Pipelines" (not "YAML")?

[2022-08-12 02:14] Yaseen17 commented on #489
"azure-pipelines.customSchemaFile": "C:\\Users\\xxx\\Documents\\xio\\yamlschema.json"

 Does the Azure Pipelines file you're editing have its language set to "Azure Pipelines" (not "YAML")?
 : Yes. Language mode is set to "Azure Pipelines"

[2022-08-12 04:15] Yaseen17 commented on #489
@

it is working fine now. There was workspace settings in VScode which is causing this issue. i delete the .vscode in the root folder of the project and restart the VS code.

[2022-08-12 05:09] #480 closed

[2022-08-12 05:10] 50Wliu commented on #489
Glad to hear it's fixed for you now! Since everything's working, I'm going to close this issue.

[2022-08-12 05:10] #489 closed

[2022-08-25 22:40] dagood opened #491 "Extension crashes when `${{ insert }}` is the first element in a list"
I tried installing this extension in an existing project with some reasonably complex templates, and found a crash when opening a file with this particular pattern. I was able to get it down to a small repro:

1. In a fresh VS Code window, create a doc with this content:

[code]

2. Switch the file type to Azure Pipelines.

After that, the extension loads and eventually shows this error in the ext

[2022-08-26 08:32] DmitriiBobreshev commented on #491
Hi @dagood!
Thanks for your request, seems like the problem is in `- ${{ script }} ` key and even if it's not possible to parse the script, the extension should not close the connection.
We've added this feature request to our backlog. We'll take a look at it once we have enough capacity. Thank you again!

[2022-08-30 08:32] nerijusk opened #492 "Publish Test Results task shown as incorrect"
Task catalog lists in Publish Test Results task as version 2 here: <https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=azure-devops&tabs=trx%2Cyaml#yaml-snippet>. However, in VSCode it flagged as incorrect and shown regex expects it to be of version 1. See attached screenshot. I guess the fix is trivial. Regex pattern should be changed from `"^PublishTestR